[2022-02-21 15:29] ValeriyaMetla opened #480 "Usability testing: Pre-Test Questions"
### Overview
Create pre-test questions for usability testing.  This is to focus on their use of technology, and specific questions for legal professionals about creating declaration letter.
### Action Items
- [x] create questions for legal clinic professionals
- [x] Review task list with team
   - [x] Make changes requested
- [x]  Remove Dependency from #444
- [x]  Close this issue when complete

[2022-02-21 20:52] SamHyler opened #481 "Add a definition & explanation about multiple terms (content team)"

[2022-02-21 20:52] SamHyler commented on #336
Hi @daisyyiudesign , just cleaning up old issues so I reassigned you instead of the former design team. You can close this issue whenever you've noted the changes.

[2022-02-21 20:53] #481 closed

[2022-02-21 20:55] SamHyler opened #482 "[Draft] Add a definition & explanation about multiple terms"
### Overview
Add definition and explanation about multiple legal terms at a logical place in the tool

### Action Items
- [ ] clarify terms
- [ ] Add definition/explanation for user (tool tip?)

### Resources/Instructions

[2022-02-21 23:13] Andan-Eddy commented on #432
[2/21/22] Agenda and Notes
Prework

Roll Call

Recurring items:

 review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 Accountability and Support Check.
 Review assignments for each PM
 [Brandon](https://github.com/hackforla/expunge-assist/issues/assigned/brandohayes)
 [Andan](https://github.com/hackforla/expunge-ass

[2022-02-21 23:14] Andan-Eddy commented on #432
# [2/21/22] Agenda and Notes

### Prework

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Brandon](https://github.com/hackforla/expunge-assist/issues/assigned/brandohayes)

[2022-02-21 23:36] brandohayes commented on #472
PM's met with Sam today and reviewed the screen shots. We agreed that the issues definitely need to be changed and altered however we may not make the MVP date if we focus heavily on the content changes. We will discuss this with Dev during the team meeting tomorrow and formulate a better plan on when and how to get this completed.

[2022-02-23 02:05] aahvocado opened #483 "bug: are you a veteran option not changing"
On the introduction step, clicking one of the radio buttons for "Are you a veteran of the United States of America?" does not visually change the option.

[2022-02-23 02:09] aahvocado opened #484 "bug: involvement navigation always goes to unemployment"
Reproduction steps:
* Go to the Involvement page with the checkboxes
* select "None of the Above" and then go to the next page
* press "Back"
* select any of the other options, then press Next
* BUG: you still go to Unemployment

[2022-02-23 12:29] SamHyler opened #485 "Content audit and rewrite content of letter generator - MVP version"
### Overview
The content of the MVP needs a consistent and clear strategy to help users understand how to answer the questions in the letter generator. Right now the questions are interpretable.

The plan is to rewrite the 'before you begin' page and wording of the questions in the question generator. They need to be consistent and clear and have an underlying strategy.

This is for the MVP versio

[2022-02-23 12:32] #390 closed

[2022-02-23 17:18] aahvocado opened #486 "generate only the selected statements"
Currently `FinalizeForm.tsx` and `FinalizePreview.tsx` generate all of the available statements instead of just the selected ones from the Involvement checkbox step.

Change it so only the selected involvements are shown.

[2022-02-24 18:40] sydneywalcoff commented on #455
ETA: Thu Mar 3

[2022-02-25 00:10] thomasdemoner commented on #409
hey Sam! I think I see a couple of other issues that you have created that sound similar to this one and are also in the Icebox:

- https://github.com/hackforla/expunge-assist/projects/1#card-78052247
- https://github.com/hackforla/expunge-assist/projects/1#card-77965069

I just want to make sure they aren't duplicates and to see if either of them could be combined.

[2022-02-25 01:32] yumengluo commented on #431
-Completed: Review email correspondence and Google Drive documents related to previous outreach
-Completed: Draft instructions for how to recruit participants

[2022-02-25 03:09] yumengluo commented on #480
Added and edited a few questions on the pre-test questions.

[2022-02-25 04:11] ExperimentsInHonesty commented on #473
@ValeriyaMetla I came across this in my notes and thought it would make a good addition to the wiki when you document the service map we created for new way of life
https://law.ucla.edu/academics/centers/critical-race-studies/race-and-re-entry-initiative

[2022-02-25 11:08] SamHyler commented on #409
@thomasdemoner Thanks, Tom. I combined the two you listed, they are unrelated to the purpose of this issue. I had somewhat separate thoughts for the other two (updating guidelines vs copy in product) but they can be combined into a bigger issue for now.

[2022-02-25 11:08] SamHyler commented on #482
combined with https://github.com/hackforla/expunge-assist/issues/478

[2022-02-25 11:08] #482 closed

[2022-02-25 20:37] aahvocado opened #487 "review accessibility of app"
DEPENDENCY: Have the product (MVP) ready for release to do the actual review, with all the elements that will be included.

I noticed that when pressing Tab to cycle through Radio options, it would skip the others. This will be fixed but we need to make sure the rest of the app is also a11y compliant.

Things like screen readers, vision impairment, motor impairment, etc.

[2022-02-27 18:42] SamHyler opened #488 "Update 'advice for successful personal statement' page"
### Overview

Update the copy on the 'advice for a successful personal statement' page to create consistent and clear instructions for users to complete their letter writing tasks.

### Action Items
- [x] Update copy on existing "advice for a successful personal statement'
- [x] Give clear instructions on how to answer questions - They MUST write in complete sentences, give an example of how to wr

[2022-02-27 21:06] Andan-Eddy commented on #472
I took part in PM review on 2.21.2022

[2022-02-27 21:20] SamHyler commented on #485
Changed strategy from testing 2 options to writing 1 option for speed for the MVP and in prep for UXR usability testing.

[2022-02-27 21:42] Andan-Eddy opened #489 "Github Expunge assist team page"
### Overview
Make sure that all new members have been added to the [Github team page
](https://github.com/orgs/hackforla/teams?query=expung) and PMs have all management access.

### Action Items
Organize and add current team member to the Github team page- * there is no need to remove people from the team page.
- [ ] Make certain that current members are added to [expunge-assist](https://github.co

[2022-02-28 03:18] #415 closed

[2022-02-28 04:41] aahvocado commented on #483
Ah I see why you did the PR. Good catch.
closing because done in https://github.com/hackforla/expunge-assist/pull/492

[2022-02-28 04:41] #483 closed

[2022-02-28 04:42] #419 closed

[2022-02-28 06:54] aahvocado commented on #479
Consistency ruling for the period will now be as follows: if user can type multiple sentences we will not insert a period for them.

[2022-02-28 07:17] aahvocado opened #493 "update the Affirmation component to just a Dialog modal"
This is to make the Affirmation popup to a more simpler dialog modal using https://v4.mui.com/components/dialogs/

The reason for this is currently we just pretend the popup is full page by covering the screen but on the Finalize Preview page the screen height is greater than is covered so it looks wrong.

[2022-02-28 15:46] SamHyler commented on #488
@cynphonic  see this issue: https://github.com/hackforla/expunge-assist/issues/479#issuecomment-1053944993
We also need to tell the user that they have to enter punctuation (periods) at the end of their sentences.

[2022-02-28 23:37] Andan-Eddy commented on #432
# [2/28/22] Agenda and Notes

### Prework

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Brandon](https://github.com/hackforla/expunge-assist/issues/assigned/brandohayes)

[2022-02-28 23:51] Andan-Eddy commented on #422
02.28.2022 Meeting Agenda
 - [ ] check changes to Figma landing page including: minor revamp
- [ ] Introduce New Design PM (Mahmoud)
- [ ] The research team is preparing got usability testing, so we need to talk with design team about what features they want to test? What are the design needs for usability testing?
- [ ] Check on the progress of new designer

[2022-03-01 01:38] Andan-Eddy commented on #422
attendee: @Andan-Eddy (PM), Daniel (lead engieneer), Daisy (lead designer), Brad (developer)
- [ ] Daniel walks through MVP demo
- [ ] Daniel and Daisy discuss revamped landing page
- [ ] Daisy explains revamp of landing page (simplfied)
- [ ] Andan, Daisy and Mahmoud will set up a meeting to discuss hand over
- [ ] Daisy and Lekan will set up a meeting to discuss Lekan's upcoming assignments

[2022-03-01 19:53] SamHyler opened #498 "Content audit of expungeassist.org"
### Overview
Content audit of the demo version of expungeassist.org to check for errors or inconsistencies.

### Action Items
- [x] visit expungeassist.org and run an audit
- [x] Copy down any inconsistencies, errors, thoughts, etc in a word doc, via screenshots, or another method
- [x] Discuss in content team
- [x] Add any changes to ongoing work or add notes for future iterations

### Resources/

[2022-03-02 17:01] SamHyler opened #499 "Landing page content check"
### Overview
Design has asked for a content review of the landing page.

### Action Items
- [x] Check and revise information flow and structure
- [x] Align with writing/content guidelines
- [x] Create iteration
- [x] Check/review with Design
- [ ] Finalize

### Resources/Instructions
Figma file under landing page tab and [this](https://docs.google.com/document/d/1YnqZAgk4qfnPd0aaNxlLckuEmXzht4vOJp

[2022-03-04 00:07] brandohayes commented on #456
#### Offboard Brandon 03/10/2022
  - [ ] 1password setup
    - [ ] remove from team vaults
       - [ ] Expunge-Assist
       - [ ] Zoom vault
- [ ] Google Drive
   - [ ] demote to viewer
- [ ] Roster
  - [ ] mark as inactive
- [ ] GitHub
     - [ ] demote member to read only team and remove from write team
- [ ] Figma
  - [ ] remove from team
- [ ] Help them delete the desktop shortcut to email a

[2022-03-04 00:10] brandohayes commented on #456
#### Offboard Jessica 03/3/2022
  - [ ] 1password setup
    - [ ] remove from team vaults
       - [ ] Expunge-Assist
       - [ ] Zoom vault
- [ ] Google Drive
   - [ ] demote to viewer
- [ ] Roster
  - [ ] mark as inactive
- [ ] GitHub
     - [ ] demote member to read only team and remove from write team
- [ ] Figma
  - [ ] remove from team
- [ ] Help them delete the desktop shortcut to email ad

[2022-03-04 13:18] SamHyler opened #500 "Clarify terminology around expungement, record clearance, reduction, etc."
### Overview
Clarify terminology around expungement, record clearance, reduction, etc. to use on the website.
Clarify what courts in LA use, what regular people might understand, and what legal terms are used and their definitions.

### Action Items
- [ ] Clarify terminology, write a description for each
- [ ] recommendations how to use terms and when/where on the website
- [ ] Update the writing/

[2022-03-04 19:24] Thomas-Pietruszewski commented on #433
Excel Sheet:
Descriptive stats about incarceration across states. Letter requirements across states need to be added.

Powerpoint:
Specific guidelines surrounding prop64 in California.

[ExpungementEligibilityProp64.pptx](https://github.com/hackforla/expunge-assist/files/8188295/ExpungementEligibilityProp64.pptx)
[IncarcerationStats.xlsx](https://github.com/hackforla/expunge-assist/files/8188296/I

[2022-03-05 21:53] ValeriyaMetla opened #501 "Documenting Research in Google Drive"
### Overview
Google Drive is disorganized and it is hard to navigate the past research and develop a Wiki page for past and ongoing research. The team will use this folder to navigate past and present research and build the UX Research page for the Wiki project.

### Action Items
- [x] create Wiki folder on Google Drive to document past research and timeline
- [x] adds copies of relevant documents

[2022-03-05 22:32] ValeriyaMetla commented on #501
@ValeriyaMetla will check other old drives and all previous locations for research
@jbsteinhardt will check Archive folder
@ana-lobos will work on Ongoing Research folder

Please write a comment when you have completed your part

[2022-03-05 22:55] ValeriyaMetla opened #502 "Update Team Wiki / Product Manager Wiki Pages"
### Overview
We need to do basic housekeeping of the Wiki page  (who are the PMs, link to onboarding and offboarding issue).

### Action Items
- [x] [Take inventory of existing EA Wiki pages](https://docs.google.com/spreadsheets/d/1b54NUoUmTDQSme3V3bVVmLfAudP7NPuFhtv06RWzoqQ/edit#gid=0) / research what other projects do well
- [x] Update Joining the Team page
   - [x] Document current onboarding p

[2022-03-06 21:18] aahvocado commented on #461
Merged in dependabot alerts but also had to revert a couple while also updated the github action.

[2022-03-06 21:57] aahvocado commented on #461
reopened because there's still some outstanding issues

[2022-03-06 22:13] Andan-Eddy commented on #399
Daisy is redesign landing page- this section will be changed. Check with Daisy about how this section will be integrated. Mahmoud will follow up on this

[2022-03-06 22:15] Andan-Eddy commented on #435
Daisy is redesign landing page- this section will be changed. Check with Daisy about how this section will be integrated. Mahmoud will follow up on this

[2022-03-06 22:15] Andan-Eddy commented on #436
Daisy is redesign landing page- this section will be changed. Check with Daisy about how this section will be integrated. Mahmoud will follow up on this

[2022-03-06 22:15] Andan-Eddy commented on #437
Daisy is redesign landing page- this section will be changed. Check with Daisy about how this section will be integrated. Mahmoud will follow up on this

[2022-03-06 22:22] Andan-Eddy opened #503 "Add Mahmoud to Expunge Assist github team page"
### Overview
Add Mahmoud new PM to expunge assist github team page. github handle: orderofx

### Action Items
Add Mahmoud new PM to expunge assist github team page. github handle: orderofx

[2022-03-06 22:29] Andan-Eddy opened #504 "Add Mahmoud to Expunge Assist google shared drive email address: mahdanmillero@gmail.com"
### Overview
Add Mahmoud to Expunge Assist [google shared driv](https://drive.google.com/drive/u/0/folders/1qR-5gm7a-3h-Zm6Tu8IxDQ6yL488kf1n)e email address: mahdanmillero@gmail.com

### Action Items
Add Mahmoud to Expunge Assist google shared drive email address: mahdanmillero@gmail.com

[2022-03-06 22:42] Andan-Eddy commented on #379
# 2022-03-17 Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://gi

[2022-03-07 03:51] ValeriyaMetla commented on #473
Hi everyone,
To make it super simple, let's each contribute one thing that is useful for new researchers to know when they join the project. Draw from your own experience when thinking about it.

For me, I wish there was an organized history of the project's research! Essentially, if there was a Wiki page where I could go and access the past research. I would want to know the timeline of research,

[2022-03-07 03:53] ValeriyaMetla commented on #473
Also, feel free to just randomly contribute any thoughts about how the research page of the project's Wiki can look like in terms of structure, content, and anything I might be missing. We basically need to design our page:)

[2022-03-07 04:39] ValeriyaMetla commented on #504
I just send the invite to the drive and roster too!

[2022-03-07 04:39] #504 closed

[2022-03-07 04:39] #503 closed

[2022-03-07 04:44] ValeriyaMetla commented on #502
I added the team members, please double check for each team.
I also worked on joining the team page (still need to better incorporate GitHub onboarding process)
PMs please add your meeting times.

[2022-03-07 18:08] SamHyler opened #505 "Update Wiki for Content"
### Overview
Update wiki with information from and about the content team. This issue is primarily to document the work the Content has done thus far to help future team members orient and understand the history and trajectory.

NOTE: this document/wiki needs to be updated continuously (every month-3months or by phase) by the content team as work progresses

### Action Items
- [x] Gather informati

[2022-03-07 18:14] #479 closed

[2022-03-08 04:47] #486 closed

[2022-03-08 18:09] jbsteinhardt commented on #473
Seconding Val, re: the timeline of research. That would be really helpful
for new people to understand what's going on now. I also saw that there's a
link for a Glossary that was never made. That could also be useful!

On Sun, Mar 6, 2022 at 7:54 PM ValeriyaMetla ***@***.***>
wrote:

--

<http://goog_867028585>
https://jbsteinhardt.com/

[2022-03-08 22:18] #455 closed

[2022-03-09 13:35] SamHyler commented on #473
@ValeriyaMetla  I'm putting the reminder here for you that 'how to use Github' for our project (how to use labels, how to write an issue, where to put them, etc.) should be added to the wiki somewhere.

[2022-03-11 00:23] thomasdemoner commented on #379
https://www.hackforla.org/projects/expunge-assist

[2022-03-11 02:12] thomasdemoner commented on #411
### Agenda for 03/10/2022

### Roll Call
- Daniel
- Tom
- Sydney
- Cristian Perpina

### Notes/Update:
Daisy
- Daisy reviewed the Figma design/current website and pointed out all of the issues that needed to be fixed (Refer to Figma for notes on issues)

Brad
- Currently working on “How Expunge Assist Works” Page with consist of three images

Daniel
- Fixed up page dials to match new design guidel

[2022-03-11 18:10] ana-lobos commented on #473
Maybe not essential, but I'd find it helpful if the page had some sort of calendar showing not only the timelines/deadlines for the project, but also the meetings we attend and everything else we're doing at a given point. Like an activity dashboard of sorts that has all in one place (hope that makes sense!). I'm picturing something along the lines of "what's on this week/month" as a calendar view

[2022-03-11 18:19] jbsteinhardt commented on #473
That would be helpful. For me, the thing that was most confusing was
landing as a new person on the project and not really understanding where
we were in the process -- like, what had already happened, what we are
working towards now, and what we're doing in that linear context (if that
makes sense). I think the research timeline and the folder that Ana just
made will help to answer these question

[2022-03-11 18:33] Thomas-Pietruszewski commented on #473
I definitely felt this way as well! Having an organized timeline I think will help contextualize what's been done, what's being done, and what we'll be working on in the future.
Regarding the wiki I think having links to original sources of information embedded into the different sections will be useful for verifying if information is correct/up to date as well.

[2022-03-11 19:58] ValeriyaMetla commented on #423
## This issue tracks the running agenda for the Research Weekly Meetings

[code]

[11/18/21](https://github.com/hackforla/expunge-assist/issues/

[2022-03-12 20:43] #469 closed

[2022-03-12 20:49] #470 closed

[2022-03-12 20:52] #471 closed

[2022-03-12 20:54] #468 closed

[2022-03-12 21:01] #465 closed

[2022-03-12 21:03] #466 closed

[2022-03-12 21:05] ValeriyaMetla commented on #454
@ana-lobos Ana can you please attach the document with the recruitment text to the issue and include it in #443
We can review the script on Friday and will close the issue then

[2022-03-12 21:06] ValeriyaMetla commented on #467
@jbsteinhardt Joanna please see my comments in the research plan document in regard to final revisions on the participants criteria

[2022-03-12 21:07] ValeriyaMetla commented on #480
@yumengluo please see my comments in the research plan, last revisions on pre-test quessitons so I can close this issue

[2022-03-12 21:12] ValeriyaMetla commented on #433
@Thomas-Pietruszewski can you please attach the Excel file to track research across states, and any document with ongoing research

[2022-03-12 21:13] ValeriyaMetla commented on #433
@rhiannab @Ndoyle118 feel free to help Tom with this task

[2022-03-12 21:14] ValeriyaMetla commented on #431
@yumengluo and @ana-lobos can you still work on that?

[2022-03-12 21:16] ValeriyaMetla commented on #360
@yumengluo this research with volunteers has never happened right? @ExperimentsInHonesty can we close this issue then?

[2022-03-12 21:36] ValeriyaMetla commented on #445
For now we can keep adding legal clinics from California, when we know more about research across the states - can start adding from other states

[2022-03-12 21:59] ValeriyaMetla opened #507 "Internal User Research Plan & Guide"
Overview
The team will conduct internal usability testing with HfLA volunteers.

Details
This version is missing a lot of features, so we will only test it within the organization.

Action Items
- [x] Create document for internal testing
- [x] Develop
   - [x]  research plan
   - [x]  task guide
   - [x]  materials for testing (Clandly, recruitment message, template for note)
- [x] Review with Org

[2022-03-12 22:01] ValeriyaMetla commented on #507
@ana-lobos please attach the doument for internal testing to the issue

[2022-03-12 22:01] ValeriyaMetla commented on #507
@rhiannab and @Ndoyle118 feel free to work on internal usability when the doc is created

[2022-03-14 23:22] thomasdemoner commented on #378
### Lead Dev open role post draft

<img src="https://user-images.githubusercontent.com/78319934/129253133-b41b4aa6-accc-4521-b769-000c1e39a46b.png" />

**Project Name**: Expunge Assist

**Volunteer Opportunity**: Lead Developer. React fluency required, tech lead experience preferred.

Our web application is nearly ready to launch, and we need some assistance working through the final tasks before

[2022-03-14 23:24] thomasdemoner commented on #378
@aahvocado This is a draft for the Lead dev open role posting. I'll bring it up in today's meeting for you to take a look at. It's kind of a copy of the basic front-end open role with some minor edits really.

[2022-03-15 00:32] thomasdemoner commented on #411
Notes from Monday 3/14

Attendance:
 - Thomas Demoner
 - Daniel Xiao
 - Daisy Yiu
 - Mahmoud A.
 - Olalekan Raheem

addressed:
 - Issue with welcome screen dialogue pop-up, as opposed to separate screens
 - Landing Page remake
 - Changing footer color
 - Lead Dev open role draft posted in a comment in our board's issue for recruiting devs.

[2022-03-15 20:58] Ndoyle118 commented on #433
@Thomas-Pietruszewski Thanks for sharing these docs! Is there a version of the 'Incarceration Stats' excel sheet on the Google Drive already? I'm happy to help with the state-by-state research, but I don't want to duplicate states that are already done.

[2022-03-17 22:52] thomasdemoner commented on #379
# 2022-03-17 Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://gi

[2022-03-17 23:58] ExperimentsInHonesty commented on #340
Add update to the wiki page

[2022-03-18 17:58] ValeriyaMetla commented on #423
# [03/18/2022] Agenda and Notes
### Attendees

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
    - [ ] [Larisa](https://github.com/hackforla/expunge-assist/issues/assigned/LarisaGav)
    - [ ] [Yumeng](https://github.com/hackforla/expunge-assist/issues/assigned/yumen

[2022-03-20 20:09] aahvocado commented on #378
@thomasdemoner I have change for the last couple sentences:

~~Our application is written in React. We also use TypeScript, but TypeScript experience is not necessary.~~

to something like

**Our application is written with Typescript and uses react-router. It's not a problem if you're not fluent in these libraries, we will work with you to make you comfortable with your implementation.**

[2022-03-20 20:20] #493 closed

[2022-03-20 20:22] aahvocado commented on #428
Hm, I was going to give this to you @bkmorgan3 but it might not be an issue anymore - hold off.

[2022-03-20 20:22] #428 closed

[2022-03-20 20:39] aahvocado opened #509 "update Welcome Page to new design"
<img width="784" alt="Screen Shot 2022-03-16 at 11 00 14" src="https://user-images.githubusercontent.com/2266545/159185116-71543705-fbdb-4594-a68c-6f578082dbc3.png">

[2022-03-20 20:50] aahvocado opened #510 "update Header and Footer"
update AppFooter.tsx to be pink instead of black
![Screen Shot 2022-03-20 at 1 50 31 PM](https://user-images.githubusercontent.com/2266545/159185446-7632ed61-376b-4e2c-86b5-59ca7c8b13bc.png)

and AppHeader.tsx to have updated links
![Screen Shot 2022-03-20 at 1 50 27 PM](https://user-images.githubusercontent.com/2266545/159185447-8c7fca12-754f-462d-84d7-8470a1f7cc51.png)

Design link:
https://www.

[2022-03-21 02:44] #501 closed

[2022-03-21 02:54] #467 closed

[2022-03-21 03:00] #454 closed

[2022-03-21 03:01] #443 closed

[2022-03-21 03:02] #480 closed

[2022-03-21 03:03] #444 closed

[2022-03-21 08:47] SamHyler opened #512 "Discover typical/common format for a letter to a judge [usability testing]"
### Overview
What does a letter to a judge look like? What are some examples? Which ones are well received by the court system and what would be '(un)acceptable?'

Content + UXR collaboration. Perhaps UXR connection with potential partners could help to find real examples of letters (we can always exclude personal information/anonymize them)

### Action Items
- [x] Find examples of actual (real) l

[2022-03-21 10:09] SamHyler opened #513 "Update content in letter generator"
### Overview
Content has rewritten the letter generator screens (everything but the buttons). This needs to be updated in the product.

This is for the MVP launch.

### Action Items
- [ ] replace old content with new content from the document below

### Resources/Instructions
Content is in this document.

See content issue here https://github.com/hackforla/expunge-assist/issues/485

[2022-03-22 10:06] SamHyler opened #514 "Replace one word on one screen"
### Overview
Change one word on one screen, it was missed from the first issue

### Action Items
- [x] Change from "Hooray" to "Well done" on screen Why 1 in Figma

### Resources/Instructions
This was missed from this issue https://github.com/hackforla/expunge-assist/issues/404

[2022-03-22 18:32] SamHyler opened #515 "Update "advice for personal statement" screen"
### Overview
Replace text on "advice for successful personal statement" screen before MVP launch.

### Action Items
- [ ] Replace existing text to new text on the entire screen

### Resources/Instructions
From this [issue](https://github.com/hackforla/expunge-assist/issues/488)

Text is in this [document](https://docs.google.com/document/d/13iCW24CSVEZZOgxfFp4qMms7tv-PR-Oje6gygNcAGow/edit#heading=

[2022-03-22 18:33] #488 closed

[2022-03-22 18:36] #498 closed

[2022-03-23 09:56] thomasdemoner commented on #340
Just sent vrms update request with the current meetings, listed below in the format required in the request issue.

### List all of your meeting times (PST time ONLY) (Name of project, name of team meeting, day of week, start time am/pm, duration):
- Expunge Assist, PM Meeting, Monday, 3 pm, 1 hour
- Expunge Assist, Dev-Design-PM Collab Meeting, 5 pm, 1 hour
- Expunge Assist, All Hands Meeting, Ev

[2022-03-23 10:13] #340 closed

[2022-03-23 10:33] thomasdemoner opened #1559 "Lead Dev Role for Expunge Assist"
<img src="https://user-images.githubusercontent.com/78319934/129253133-b41b4aa6-accc-4521-b769-000c1e39a46b.png" />

**Project Name**: Expunge Assist

**Volunteer Opportunity**: Lead Developer. React fluency required, tech lead experience preferred.

Our web application is nearly ready to launch, and we need some assistance working through the final tasks before launch and someone who is ready to

[2022-03-23 10:43] thomasdemoner commented on #378
Ok, thank you. Open role has been posted with the following, slightly altered description (altered for character limits).

"Web app is nearly ready to launch, and we need help working through the final tasks - and someone who is ready to take leadership of the team post-launch as we proceed with incremental iterations. Our application is written with Typescript and uses react-router. It's not a pr

[2022-03-23 10:48] #378 closed

[2022-03-23 21:53] Ndoyle118 commented on #507
I can take a look!

[2022-03-23 23:28] thomasdemoner commented on #456
Comment for OFFBOARDING MAHMOUD

[2022-03-23 23:28] thomasdemoner commented on #456
Comment for ONBOARDING JAMIE

[2022-03-24 00:03] thomasdemoner commented on #456
I don't knkow why but Github is glitching badly for me right now, and not letting me update comments no matter how long I wait or how many times I refresh, so I'll have to leave it as is for now and come back

[2022-03-24 01:56] thomasdemoner commented on #379
# 2022-03-24 Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://gi

[2022-03-24 03:35] Thomas-Pietruszewski commented on #433
Hi all,

The most up-to-date version of the excel incineration statistics and the state-by-state expungement research is on the google drive under "Ongoing Research" > "Research Across States".
Here's an attached copy of each form as well.
[StateByStateComparison.docx](https://github.com/hackforla/expunge-assist/files/8338215/StateByStateComparison.docx)
[IncarcerationStats.xlsx](https://github.co

[2022-03-24 20:38] #509 closed

[2022-03-24 21:24] aahvocado commented on #484
I think we decided to not doing anything with this? I honestly do not remember but everyone did agree having Job unchecked should take them to Unemployed.

Closing for now

[2022-03-24 21:24] #484 closed

[2022-03-24 23:58] thomasdemoner commented on #379
https://www.figma.com/file/0RRPy1Ph7HafI3qOITg0Mr/Hack-for-LA-Website?node-id=3464%3A3

https://www.figma.com/file/EFoSuj1b9G4aZ7bN8OX8tf/CivicTechIndex---Master-Design-File?node-id=1329%3A11944

[2022-03-25 00:28] aahvocado opened #517 "create a generated closer for the final statement"
Based on discussion in https://docs.google.com/document/d/1s6BUO-mI81K7zuO_K1aEi6QMdOqpFYb6JvSv0VnWDCQ/edit# we should have a closer to sign off the letter. They suggested a list of options

[code]

and have it autofilled by user's Firstname Lastname.

Implement if we have time, otherwise just use "Sincerly, Firstname Lastname"

[2022-03-25 01:11] thomasdemoner commented on #411
notes from Thurs. 3/24

Attendance:
 - Thomas Demoner
 - Daniel Xiao
 - Sydney

Addressed:
- there's a welcome page now.
- Design and writing issues resolved; Sydney working on some dope adaptive design features.
- Remaining minimum for MVP release is getting the landing page done. Dan thinks he can make that happen by April 1st as well.

[2022-03-25 01:24] aahvocado commented on #513
Alright, made the changes and also set up localization for them. Some lingering questions:

- The generated statement for Step 2b: Community Service is confusing, please advise on what text should be filled in the blanks.
- Left some comments in the doc about Step 4: Why. Could potentially generate some text twice.

[2022-03-25 12:36] SamHyler opened #519 "Update content on FAQ section"
### Overview
Update FAQ section with new content. These are only the series of questions for the FAQs under "Have a question?"

Privacy policy, terms of use, and about us screens are not included.

### Action Items
- [ ] Replace existing content with new

### Resources/Instructions
New content can be found in [this document](https://docs.google.com/document/d/1O3y2oE_5VdEYDcwdjtdrlPq0d-Rcu_igmzPBc

[2022-03-25 12:41] SamHyler opened #520 "Update FAQ content in Figma prototype"
### Overview
The FAQ content was finalized in November 2021 but never got passed on to relevant teams nor changed in the Figma prototype.

Content needs to be updated.

### Action Items
- [x] Replace content on all relevant FAQ screens in prototype
- [x] Check possibility to add this to MVP launch

### Resources/Instructions
Content is in [this](https://docs.google.com/document/d/1O3y2oE_5VdEYDcwd

[2022-03-25 18:01] ValeriyaMetla commented on #423
# [03/25/2022] Agenda and Notes
### Attendees

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [x] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
    - [ ] [Larisa](https://github.com/hackforla/expunge-assist/issues/assigned/LarisaGav)
    - [ ] [Yumeng](https://github.com/hackforla/expunge-assist/issues/assigned/yumen

[2022-03-26 21:15] ValeriyaMetla commented on #507
@rhiannab and @Ndoyle118 I assigned you to this issue to start working on the internal testing guide.
@yumengluo can you help out with this?

[2022-03-26 21:52] ValeriyaMetla commented on #442
@ExperimentsInHonesty This issue is ready for your review. We have developed a research plan for user testing with legal clinics and people going through expungement.

[2022-03-26 22:04] ValeriyaMetla commented on #433
@Thomas-Pietruszewski we will need to format this documents in accordance with style and communication guide. We can discuss it on Friday.
Meanwhile, can you write One-Page document that outline goal of this research, tasks completed, short summary of outcomes/findings in relation to marketing, branding, and any next steps.

[2022-03-26 22:11] ValeriyaMetla commented on #409
@Thomas-Pietruszewski can you up some comments to the glossary doc based on what you learned doing state by state research

[2022-03-27 10:36] thomasdemoner commented on #379
# 2022-03-31 Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://gi

[2022-03-28 22:04] ValeriyaMetla commented on #432
# [03/28/22] Agenda and Notes

### Prework
### Roll Call
 - [ ] [Tom](https://github.com/hackforla/expunge-assist/issues/assigned/thomasdemoner)
 - [ ] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
 - [ ] [Jamie](https://github.com/hackforla/expunge-assist/issues/assigned/w0ahth3re)
### Recurring items:
 - [ ] review any issues that are in the [new issue app

[2022-03-28 22:59] #515 closed

[2022-03-29 17:30] #472 closed

[2022-03-29 18:47] SamHyler opened #522 "Rewrite landing page text"
### Overview
Update landing page text (and one page text), specifically this sentence:

"Expunge Assist aims to help people in California with criminal records accomplish record clearance, expungement, or a reduction and subsequently a second chance as a part of society."

This sentence also appears on the one page, and should be updated wherever it appears.

The issue is with the sentiment of "se

[2022-03-29 18:51] SamHyler opened #523 "Before you begin for MVP"
### Overview
Rewrite before you begin for MVP launch. This will be a compromised version for the launch, and a more robust version will be written for the next version of the product.

### Action Items
- [x] Check existing version and version written for post-MVP launch and pull most important bits
- [x] "Rewrite before you begin "page

### Resources/Instructions
Rewrite is found in [this]([Before

[2022-03-31 18:52] ana-lobos commented on #423
# [04/01/2022] Agenda and Notes
### Attendees

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
    - [] [Larisa](https://github.com/hackforla/expunge-assist/issues/assigned/LarisaGav)
    - [ ] [Yumeng](https://github.com/hackforla/expunge-assist/issues/assigned/yumengl

[2022-03-31 21:44] yumengluo commented on #507
I left some comments on the doc.

[2022-03-31 23:35] ValeriyaMetla commented on #464
#### Offboard @LarisaGav
  - [ ] 1password setup
    - [ ] remove from team vaults
       - [ ] Expunge-Assist
       - [ ] Zoom vault
- [ ] Google Drive
   - [ ] demote to viewer
- [ ] Roster
  - [ ] mark as inactive
- [ ] GitHub
     - [ ] demote member to read only team and remove from write team
- [ ] Figma
  - [ ] remove from team
- [ ] Help them delete the desktop shortcut to email address i

[2022-04-01 00:58] #414 closed

[2022-04-01 01:00] #514 closed

[2022-04-01 12:15] #336 closed

[2022-04-02 14:13] SamHyler commented on #485
This has essentially been done for a weekish. Just waiting on confirmation (pos or neg) of a few items: How to add a closer, possibility for tooltips.

[2022-04-02 23:36] #510 closed

[2022-04-02 23:58] aahvocado commented on #449
component is now removed

[2022-04-02 23:58] #449 closed

[2022-04-03 00:16] aahvocado opened #530 "add a back button to the Download page"

[2022-04-03 02:56] aahvocado opened #531 "Fix footer width in mobile view"
Additionally, screen height is higher than necessary

[2022-04-05 03:03] ExperimentsInHonesty commented on #340
These are the current meeting times:

- [x] Expunge Assist, PM, Monday, 3 pm, 1 hour
- [x] Expunge Assist, Dev-Design-PM Collab, 5 pm, 1 hour
- [x] Expunge Assist, All Hands, Every 2nd Tuesday, 5 pm, 1 hour
- [x] Expunge Assist, PM-Org, Thursday, 4 pm, 1 hour
- [x] Expunge Assist, Development, Thursday, 6:00 pm, 1 hour
- [x] Expunge Assist, Research, Friday, 11am, 1 hour

[2022-04-05 12:45] SamHyler commented on #505
outline documentation/timeline created, need to add links to docs and github issues. Pending further info of how and where it should be added.

[2022-04-05 12:47] #338 closed

[2022-04-05 12:49] SamHyler commented on #512
let's prioritize this for the post-MVP version of the letter generator

[2022-04-05 17:56] #485 closed

[2022-04-05 18:12] cynphonic commented on #523
[Before you begin](https://docs.google.com/document/d/1nu8zX3MJAKIvlfkv2rveEFM4WvYKTffrbVDy7ixCzsg/edit#heading=h.oajagfk44ihz)

[2022-04-05 18:14] cynphonic commented on #522
[Quote rewrite](https://docs.google.com/document/d/12Tz1a8NjLPsgfKrBhYXeLBWV7mLGHMYP81KQYUmktEQ/edit)

For landing page, quote rewrite

[2022-04-05 19:07] cynphonic opened #532 "Another update to "advice for a successful declaration letter""
### Overview
Update the copy on the 'advice for a successful personal statement' page to create consistent and clear instructions for users to complete their letter writing tasks. We would like to make a small change

### Action Items

- [x] Update copy on existing "advice for a successful declaration letter"
- [x] Decide between removing or keeping punctuation after numerical lists
- [x] Add in q

[2022-04-05 20:54] cynphonic opened #533 "Another update to "advice for a successful declaration letter""
### Overview
Update the copy on the 'advice for a successful personal statement' page to create consistent and clear instructions for users to complete their letter writing tasks. We would like to make a small change

### Action Items
- [ ] Change "do not us profanity" to "don't use profranity" for consistency in first bullet point
- [ ] Change expunge my record because I need a new job to "expung

[2022-04-06 21:30] ana-lobos commented on #507
Recruitment message (copy/paste to Slack to see animated emojis):

Website launch - help needed :mario_luigi_dance:

Expunge Assist is launching a website to help justice-impacted individuals clear their records. Can you spare 30 minutes for a usability test on Zoom?  :party_blob:

Who: You! No past criminal record needed to participate :eyes: We will provide you with all you need to test the webs

[2022-04-07 04:40] ValeriyaMetla commented on #379
# 2022-04-08 Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://gi

[2022-04-07 23:12] w0ahth3re commented on #507
Bonnie suggested https://support.google.com/a/users/answer/9308875?hl=en is an alternative to Calendly if needed

[2022-04-08 01:00] #263 closed

[2022-04-08 01:03] #517 closed

[2022-04-08 01:11] aahvocado commented on #533
@cynphonic Does this look right?
![Screen Shot 2022-04-07 at 6 10 46 PM](https://user-images.githubusercontent.com/2266545/162343738-278cb89b-4aea-4a80-b9fd-d6f78a0ff19c.png)

[2022-04-08 02:00] #530 closed

[2022-04-08 08:12] ana-lobos commented on #423
# [04/08/2022] Agenda and Notes
### Attendees

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
    - [ ] [Yumeng](https://github.com/hackforla/expunge-assist/issues/assigned/yumengluo)
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler

[2022-04-12 14:44] ExperimentsInHonesty commented on #379
I need to delete this card
https://github.com/hackforla/UI-UX/projects/3#card-76604465

and replace it with this one
https://github.com/hackforla/marketing/projects/4#card-80541066

because I put it on the wrong board.  It goes on the Marketing board

[2022-04-12 22:22] #533 closed

[2022-04-13 00:59] aahvocado commented on #332
Moving to Icebox. No idea what is happening with this currently.

[2022-04-13 01:03] aahvocado commented on #404
Oh great, this was finished earlier.

[2022-04-13 01:03] #404 closed

[2022-04-13 01:06] aahvocado commented on #461
moving to Icebox

this is a note for someone in the future to possibly look at the Security tab and see if we can use Dependabot to re-attempt to update high priority security vulnerabilities

[2022-04-13 01:08] aahvocado commented on #410
should link with #487

[2022-04-13 08:42] thomasdemoner commented on #379
# 2022-04-13 Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://gi

[2022-04-14 23:50] ExperimentsInHonesty commented on #507
In the intro
We will ask you at the end of the interview how public you want your answers to be made. The level of disclosure will be completely in your control because we want you to answer freely. You can also completely opt-out of any of your interview data being used at any point

At the end
![image](https://user-images.githubusercontent.com/37763229/163494487-7459b933-37d2-4b80-9d5a-ca53f435d

[2022-04-15 00:10] ExperimentsInHonesty commented on #379
https://github.com/hackforla/UI-UX/projects/7#card-80674431

[2022-04-15 00:26] jamiesiu commented on #379
Basketball

[2022-04-15 17:35] ana-lobos commented on #423
# [04/15/2022] Agenda and Notes
### Attendees

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
    - [ ] [Yumeng](https://github.com/hackforla/expunge-assist/issues/assigned/yumengluo)
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler

[2022-04-15 19:33] ExperimentsInHonesty commented on #432
Please add this to this week's agenda and get it done during the all team meeting, or do separate ones in each meeting.  Just be sure to name them to reflect the team name and if it's just the dev team, please say ```Expunge Assist - dev team.png```
- [ ] Taking a picture of the team [CTA Instructions](https://docs.google.com/presentation/d/1UDHwTQ1C3y01CiNS0mvPjNBHJFlm2Txs/preview)

[2022-04-16 01:29] ValeriyaMetla commented on #507
The recruitment message was slightly modified. Here is the final version. @ExperimentsInHonesty please use this to circulate.

**Recruitment message (copy/paste to Slack to see animated emojis):**

:mario_luigi_dance: Website launch - help needed
Expunge Assist is launching a website to help justice-impacted individuals clear their records. Can you spare 30 minutes for a usability test on Zoom? :p

[2022-04-18 09:24] SamHyler commented on #98
closing this issue as the person who created it is no longer here to take care of it

[2022-04-18 09:24] #98 closed

[2022-04-18 09:25] #522 closed

[2022-04-18 09:25] SamHyler commented on #499
https://github.com/hackforla/expunge-assist/issues/522 is part of this issue.

[2022-04-19 00:43] jamiesiu commented on #422
* Serena joining Design team. Daisy to help onboarding - reference https://github.com/hackforla/expunge-assist/issues/456 checklist
* Daisy to talk with Val on next steps as far as usability researching internal testing and where feedback goes/how we can access
* Serena to help review comments with Content / Dev on Landing Page Design in Figma
* Evaluate Favicon update for light/dark mode
* Dev co

[2022-04-19 16:33] SamHyler opened #542 "Request to do content check in 2 google forms"
### Dependency
- [x] #331
- [ ] #332

### Overview
Content received a request to look over the content in two google forms.

These are the related issues: https://github.com/hackforla/expunge-assist/issues/332  and https://github.com/hackforla/expunge-assist/issues/331

More information needed about the goals, purpose, and how to make changes to complete the task.

### Action Items
- [ ] Look over

[2022-04-19 16:35] SamHyler commented on #332
same. I created this issue (https://github.com/hackforla/expunge-assist/issues/542) as we were asked to do a content check. Let me know when you have time @thomasdemoner so we can figure out what kind of check you're looking for. We don't have any logins over in Content to get in there and make any changes either.

[2022-04-21 06:01] jamiesiu opened #543 "Onboard & Offboard: UX / UI Designer"
### Dependency
Waiting to have a UX/UI Designer to on/off-board.

### Overview
We need to have a checklist of items to do when a UX / UI Designer onboards and offboards so that the process can be consistent and fast.

### Date Updated
(insert date you created this issue and keep updating the date each time the org template change are integrated)
2022-04-20

### Action Items
- [ ] Check to see if t

[2022-04-21 06:02] jamiesiu commented on #543
#### Onboarding for Serena Sanders (by Daisy)
- [ ] Google Drive
   - [ ] Add to drive as Editor
- [ ] Roster
  - [ ] Send link
  - [ ] Team member adds themselves
  - [ ] Check for Public and note in roster
  - [ ] Check for 2FA and note in roster
- [ ] GitHub
     - [ ] Add to team Expunge Assist
        - [ ] Change membership to maintainer
     - [ ] Add to read vault
        - [ ] Change memb

[2022-04-21 07:08] jamiesiu opened #544 "Perform diff analysis between EA Design System and other project Design Systems"
### Overview
Perform diff analysis between other project Design Systems to be able to create recommendation for  improvements to EA Design System

### Details
Most Design Systems are created to bring standardization and order to a website, providing a cohesive experience for users. At the same time, it provides guidelines for designers (so that they don’t have to guess and research standards), and

[2022-04-22 09:33] ana-lobos commented on #423
# [04/22/2022] Agenda and Notes
### Attendees

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
    - [ ] [Yumeng](https://github.com/hackforla/expunge-assist/issues/assigned/yumengluo)
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler

[2022-04-26 00:18] jamiesiu commented on #422
**2022.04.18 - Design & Dev Meeting** w/ Vidit, Jamie

* Team is busy / out so used time to meet with Vidit - student based in India, learning over the past year(s) about UI design. They heard about HackForLA through their friend and wanted to gain experience. They are interested in potentially joining the project but want to observe first how we work together and what we are focused on. Gave them

[2022-04-26 17:48] SamHyler commented on #520
This is done, yes @cynphonic? I ticked the boxes and am closing.

[2022-04-26 17:48] #520 closed

[2022-04-27 04:56] jamiesiu opened #545 "Recruit UI/UX Designer"
### Overview
We need to recruit a UI/UX Designer who will coordinate to the designing needs of our project so that the UI/UX design team has the leadership it requires.

### Action Items
Copy the template below and add to comments below
Check mark as you progress in recruiting the new team member

[code]

### Resources/Instructions
* [Open Roles Board](https://github.com/hackforla/UI-UX/projects/3

[2022-04-27 05:01] jamiesiu commented on #544
@ValeriyaMetla and @RenaNicole will be partnering together here with Daisy supporting

[2022-04-28 23:07] jamiesiu commented on #379
# 2022-04-28 Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://gi

[2022-04-28 23:20] ExperimentsInHonesty opened #546 "Clean up issues"
### Overview
We need all the issues on the board to conform to a specific standard so that we can help the pms to keep the velocity and the prioritized backlog working effectively.

### Action Items
- [x] Review each issue looking for format
- [x] If issue does not conform, move to new issue review column
- [x] Fix issues that don't conform to format
- [x] Identify missing items from issue and add

[2022-04-29 09:45] ana-lobos commented on #423
# [04/29/2022] Agenda and Notes
### Attendees

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
    - [ ] [Yumeng](https://github.com/hackforla/expunge-assist/issues/assigned/yumengluo)
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler

[2022-04-29 19:03] SamHyler commented on #542
@thomasdemoner got this request from you via a slack thread. When you have time to clarify, we can get started on this issue.

[2022-04-29 19:05] SamHyler commented on #523
@cynphonic made a first draft but we didn't finish before internal user testing. Putting a hold on this issue until we get feedback from testing and will finish based on that feedback for the next version of the product.

[2022-04-29 19:08] SamHyler commented on #523
Content made progress and collaboration with Design on the landing page, but didn't finish before usability testing. Therefore we will update the landing page now based on results from testing. Closing and will reopen a new issue later.

[2022-04-29 19:10] SamHyler commented on #499
Content made progress and collaboration with Design on the landing page, but didn't finish before usability testing. Therefore we will update the landing page now based on results from testing. Closing and will reopen a new issue later.

[2022-04-29 19:10] #499 closed

[2022-04-29 19:13] SamHyler commented on #532
hey @cynphonic  could you check off the boxes here? Is this issue done?

[2022-04-29 19:17] SamHyler commented on #523
Closing the issue and will open a new issue for this page when it's time to create a new draft.

[2022-04-29 19:17] #523 closed

[2022-04-29 19:20] SamHyler opened #548 "[Pause Stuff] Create Content System, integrate with Design System"
### Overview
This is a third step in creating a Content system.
Previously various solutions were explored, including asking for a free version of Ditto (no answer to email request).
We need to explore what a Content system means for our team, what our needs are, how it overlaps, and what options there are.

### Action Items
- [ ] Explore Design system and component capabilities
- [ ] Explore tool

[2022-04-29 19:21] SamHyler commented on #548
milestone to be added after github milestone revamp

[2022-04-29 19:21] SamHyler commented on #548
@ValeriyaMetla here is the issue for the content system. will fill out the individual tasks in more detail when we start to work on it.

[2022-05-01 21:23] ValeriyaMetla commented on #507
The research plan and guide was approved by Bonnie. The internal testing was completed on the 04/29/22.

[2022-05-01 21:23] #507 closed

[2022-05-01 21:46] #430 closed

[2022-05-02 00:49] jamiesiu commented on #435
Seems like this is outdated based on the current iteration of the landing page. Confirming with team

[2022-05-02 09:18] #532 closed

[2022-05-02 14:10] ana-lobos opened #549 "Internal Usability Test Analysis"
### Overview
We need to develop a strategy to analyze the data from the internal usability tests conducted by the team.

### Action Items
- [x] Team to discuss best practices in first meeting after testing concludes
- [x] Val and Ana to meet and create Miro Board
- [x] Team to transcribe notes and input data to [Miro Board](https://miro.com/app/board/uXjVO47ft3A=/)
- [x] Team to meet on 05/06/22 a

[2022-05-02 22:05] jamiesiu commented on #432
# [05/2/22] Agenda and Notes

### Prework
### Roll Call
 - [ ] [Tom](https://github.com/hackforla/expunge-assist/issues/assigned/thomasdemoner)
 - [ ] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
 - [ ] [Jamie](https://github.com/hackforla/expunge-assist/issues/assigned/jamiesiu)
### Recurring items:
 - [ ] review any issues that are in the [new issue appro

[2022-05-02 22:05] #360 closed

[2022-05-02 22:21] #339 closed

[2022-05-02 22:23] #318 closed

[2022-05-03 00:20] jamiesiu commented on #422
**2022.05.02 - Design & Dev Meeting** w/ Irene, Serena, Tom, Jamie

* Content doesn't touch Figma too much. They tag Daisy for questions for design. if adding things to content on Figma side - how it connects to the dev/design side. e.g. Content Figma sizing for FAQ - how do we adjust so it would be reflected? sized properly say if it overflows?
    * is there version control in Figma? Content wil

[2022-05-03 04:28] jamiesiu commented on #344
Daisy confirmed they already incorporated the comments from the old heuristic evaluation. The new design should be tested following similar guidelines. We will close this out for now

[2022-05-03 04:28] #344 closed

[2022-05-03 04:53] jamiesiu commented on #364
Checking with Sam to see if feedback is needed from Design

[2022-05-03 19:01] SamHyler opened #550 "EA: Content team meeting agenda and notes"
### Overview
This issue tracks the running agenda for the Content team weekly meetings (Tuesdays 11AM PST)

# [Date] Agenda and Notes
### Attendees
- [ ]
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned

[2022-05-05 00:31] jamiesiu commented on #422
**2022.05.02 - Design & Dev Meeting** w/ @RenaNicole @ValeriyaMetla @jamiesiu / **Irene**

**_Main Topic - Design System_**
* Internal Testing Results -
    * What did we test? test by volunteers (not actual ppl testing). Going through flow of letter generator. Ask what they would change, how easy to use
    * Feedback for design has been a little around images. We'll find out more. UX Research an

[2022-05-05 00:56] #442 closed

[2022-05-05 01:03] #67 closed

[2022-05-05 05:16] jamiesiu opened #551 "Create recommendations for improvements to the EA Design System"
### Dependency
- #544

### Overview
Create recommendations for improvements to the EA Design System. These will be valuable for feedback discussions with the team and informing implementation of changes.

### Action Items
- [x] Review gaps and opportunities identified during [diff analysis step](https://github.com/hackforla/expunge-assist/issues/544)
- [x] Define recommended changes (in writing)
-

[2022-05-05 05:40] jamiesiu opened #552 "Implement changes to improve EA Design System (to be broken down further into smaller issues)"
### Dependency
- #551
This ticket will be replicated and broken down further into smaller issues once we have selected which recommendations to move forward with. Each separate issue will provide and specify the specific changes to implement.

### Overview
Implement changes to the EA Design System so that we can improve team collaboration and consistency.

### Action Items
- [ ] Implement change t

[2022-05-05 08:46] thomasdemoner commented on #405
Hey @aahvocado, is this issue still relevant? And if so are there any Dependencies that would place this issue in the Icebox?

If it is still relevant, please address the dependencies and details in the description, because we are having a difficult time managing issues like this, especially after time has passed and the context can be forgotten or change.

Thanks and see you tomorrow!

[2022-05-05 08:52] thomasdemoner commented on #461
Hey @aahvocado, is this issue still relevant? And if so are there any Dependencies that would place this issue in the Icebox?

I do see your last comment stating the context for this, but like the other one it's difficult to know what dependencies might be in the way. And the like in the description also does not seem to work...

[2022-05-05 22:09] thomasdemoner commented on #379
# 2022-05-05 Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://gi

[2022-05-05 22:35] thomasdemoner commented on #531
Hey, this issue didn't make it onto the project board. Let's see if it still stands today.

[2022-05-05 23:17] jamiesiu commented on #552
Note: clarify action item for selection of recommendations

[2022-05-05 23:20] thomasdemoner commented on #270
sort out details and decide what to do with it.

[2022-05-05 23:59] ExperimentsInHonesty commented on #62
This issue used to have a development label on it.  They along with product are a customer for the research findings.  No decision can be made until proper research into what the client environment is (library, etc) and what level of privacy is already embedded in the environment (e.g., does it clear the cache when they leave the computer.  Does it clear local storage i.e. cut and paste, etc.)

[2022-05-06 00:07] aahvocado opened #554 "remove step number from progress display"
After some discussion with @sam we decided it would be too confusing when the number would increase after selecting things from the involvement step.

It seems that we also intend to suggest that the process will take just a few steps and we don't want to make it feel bad when the number of steps changes.

This could be added back if we can improve on it.

[2022-05-06 00:09] #554 closed

[2022-05-06 01:04] aahvocado commented on #531
recently fixed

[2022-05-06 01:04] #531 closed

[2022-05-06 01:12] aahvocado commented on #369
There still exists an annoyance where it still adds the period but does not have a negative impact on the app. I've already tried to fix it multiple times and I'm not sure that will be able to change due to the way we laid the groundwork.

I wanted to leave this up in hopes that someone will look into it but most likely it will get lost in the shuffle so I'm going to close it.

[2022-05-06 01:12] #369 closed

[2022-05-06 01:13] #320 closed

[2022-05-06 01:13] thomasdemoner commented on #320
done!

[2022-05-06 01:15] #121 closed

[2022-05-06 01:15] #122 closed

[2022-05-06 01:15] #128 closed

[2022-05-06 01:15] #171 closed

[2022-05-06 01:21] #72 closed

[2022-05-06 01:22] aahvocado commented on #461
Closing. There are still critical dependency issues in the security page and I will work through those slowly.

[2022-05-06 01:22] #461 closed

[2022-05-06 13:56] SamHyler commented on #513
Have answered in doc & slack. Will close out this issue for as everything is done.

[2022-05-06 13:57] #519 closed

[2022-05-06 17:55] ValeriyaMetla commented on #423
# [05/06/2022] Agenda and Notes
### Attendees

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
    - [ ] [Yumeng](https://github.com/hackforla/expunge-assist/issues/assigned/yumengluo)
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler

[2022-05-09 22:06] ValeriyaMetla commented on #432
# [05/09/22] Agenda and Notes

### Prework
### Roll Call
 - [ ] [Tom](https://github.com/hackforla/expunge-assist/issues/assigned/thomasdemoner)
 - [ ] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
 - [ ] [Jamie](https://github.com/hackforla/expunge-assist/issues/assigned/jamiesiu)
### Recurring items:
 - [ ] review any issues that are in the [new issue appr

[2022-05-09 22:13] thomasdemoner commented on #256
### research spell checking packages:
Product has identified that many users won't be able to necessarily spell correctly or use the best grammar

moved here from issue #129

[2022-05-09 22:15] thomasdemoner commented on #129
Hey @aahvocado I moved this to the ideas issue #256 so we can close this out!

[2022-05-09 22:15] #129 closed

[2022-05-09 22:19] thomasdemoner commented on #256
### implement html to text rendering:

There are places in the app that could benefit from underline or other text-decorations.

![Screen Shot 2022-02-05 at 2 29 02 PM](https://user-images.githubusercontent.com/2266545/152661083-9eb9ac30-1a97-4c42-9901-dfab3b009ead.png)

We can create our own implementation or use a package like https://github.com/html-to-text/node-html-to-text

It should take in

[2022-05-09 22:20] thomasdemoner commented on #446
Hey @aahvocado, I moved this issue to the brainstorming issue as well. Let me know if you'd like me to mention you in those comments as well btw.

[2022-05-09 22:20] #446 closed

[2022-05-09 22:26] thomasdemoner commented on #380
would this problem be rendered irrelevant if we opened the redirecting links on new tabs instead? @aahvocado

[2022-05-10 00:30] jamiesiu commented on #422
**2022.05.02 - Design & Content Meeting w/ @thomasdemoner @daisyyiudesign @jamiesiu @aahvocado @RenaNicole **

- Sam and Daisy would just collab directly / async through chat in past. Design/Dev/Content to work directly 1:1 and loop PM in. Convos can be shifted into shared Slack channels to raise visibility.
- How Content and Design Changes Should Flow,
      - Design needs to look at Content befo

[2022-05-11 05:53] jamiesiu commented on #422
# 2022.05.11 Agenda and Notes
### Attendees
-
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ]
    - [ ]
### Recurring items:
- [ ]
### New Meeting Items
- Check-in with #544 . Any help needed? Content would like to understand the direction for Design System and where they can help in future. Discuss how we might approach next steps and split future work

[2022-05-11 14:27] SamHyler commented on #550
# [Date] Agenda and Notes
### Attendees
- [ ] Irene
- [ ] Jamie (PM)
- [ ] Sam
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)
### Recurring items:
- [ ]
### New Meeting Items
- [ ] Collabor

[2022-05-12 22:46] thomasdemoner commented on #379
# 2022-05-12 Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://gi

[2022-05-12 23:02] thomasdemoner commented on #429
Last request:
https://github.com/hackforla/website/issues/3135#issuecomment-1125484834

[2022-05-17 00:19] jamiesiu commented on #422
# 2022.05.16 Dev / Design Meeting Agenda and Notes
### Attendees
- @RenaNicole @thomasdemoner @jamiesiu
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ]
    - [ ]
### Recurring items:
- [ ]
### New Meeting Items
- [ ]
### FYI
-
### Notes from Meeting
- Design System - Serena took another pass to review everything with gap analysis, ensuring naming system

[2022-05-17 19:16] SamHyler commented on #550
# [May 17, 2022] Agenda and Notes
### Attendees
- [ ] Jamie
- [ ] Irene
- [ ] Sam
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)
### Recurring items:
- [ ]
### New Meeting Items
- [ ] Conte

[2022-05-17 20:11] SamHyler opened #557 "Create Content/Writing Guidelines page in Figma"
### Overview
The Content/Writing Guidelines exist now in a Google Doc on the shared drive. The idea is to transfer this information into Figma and create it in an accessible way across teams.

Housing the guidelines in Figma makes it more visible and accessible to all who write on the product.

### Action Items
- [x] Create a separate page and create a template in Figma to house the guidelines
- [

[2022-05-19 21:40] SamHyler opened #558 "Research Content Systems"
### Overview
Research content systems, discover how other content designers have worked with content + design systems.

Content systems are integrated with Design systems and help all who write on the project to work with the content efficiently and maintain consistency.

### Action Items
- [x] Research content systems
- [x] Compile examples and best practices

### Resources/Instructions
Parallel

[2022-05-19 21:43] SamHyler opened #559 "Evaluate current Design system (content focus)"
### Overview
Evaluate current Design system from a content perspective and discover the gaps and opportunities for creating an integrated Design + Content system.

### Action Items
- [x] Evaluate gaps and opportunities for Content based on current [EA Design System in Figma](https://www.figma.com/file/hYqRxmBVtJbDv9DJXV6nra/Expunge-Assist-Main-Figma?node-id=2%3A2)
- [x] Make recommendations for Co

[2022-05-19 23:01] ValeriyaMetla commented on #379
# 2022-05-19 Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://gi

[2022-05-19 23:30] ExperimentsInHonesty opened #560 "Setting Up Milestones in GitHub"
### Overview
We need to create a roadmap that includes the milestone list to help with product prioritisation, project monitoring and for the team to know what each task builds up to.

### Action Items
- [x] Create milestone list using OCS template and project one sheet as examples
- [x] Meet with Bonnie to create list
- [x] Add Milestones to Repo
- [x] Add Milestones to each issue

### Resources/

[2022-05-20 01:07] aahvocado commented on #380
Yeah, talked about this in the dev meeting. Is mostly a concern for when user may navigate out of the page accidentally but otherwise this is not a priority.

[2022-05-20 01:07] #380 closed

[2022-05-20 17:40] SamHyler opened #561 "Research applicable content/design tools for Figma"
### Overview
We need a tool (s?) to assist Content integration into the Design System so that it is efficient and functional.

### Action Items
- [x] Research possible plug-ins and tools (namely Ditto)
- [x] Check for functions in line with our needs
- [x] Check with products for possible free access for non-profits

### Resources/Instructions
[Letter to Ditto for access request](https://docs.goog

[2022-05-20 18:00] ValeriyaMetla commented on #423
# [05/20/2022] Agenda and Notes
### Attendees

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
    - [ ] [Yumeng](https://github.com/hackforla/expunge-assist/issues/assigned/yumengluo)
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler

[2022-05-21 02:02] ValeriyaMetla commented on #464
#### Onboard Nikita next week
- [x] Google Drive
   - [x] Add to drive as Editor
- [x] Roster
  - [x] Send link
  - [x] Team member adds themselves
  - [x] Check for Public and note in roster
  - [x] Check for 2FA and note in roster
- [x] GitHub
     - [x] Add to team Expunge Assist
- [x] Figma
  - [x] invite
  - [x] acceptance
- [ ] Add to email address
   - [ ] expungeassist@hackforla.org

[code

[2022-05-21 17:55] ValeriyaMetla opened #562 "Internal Testing Final Report"
### Dependencies
- [x] #563
- [x] #564
- [x] #565
- [x] #566
- [x] #567

### Overview
We need to create a final report for internal usability testing of the EA desktop product. We have aggregated data in Miro Board, and Excel, and presented preliminary results and recommendations to product managers, designers, developers, and content teams.

### Action Items
- [x] Create a document to begin worki

[2022-05-21 18:05] #549 closed

[2022-05-21 18:15] ValeriyaMetla opened #563 "Content Feedback for Internal Testing Report"
### Overview
Aggregate all data for an internal testing final report following the guideline below

### Action Items
- [x] Go over Miro board, Excel, and raw notes (if needed) to pull all the information for the final report
   - [x] identify pain point relevant to the content of the product
   - [x] how many users identified these pain points
   - [x] identify quotes and make it clear (use italic

[2022-05-21 18:30] ValeriyaMetla opened #564 "Design Feedback for Internal Testing Report"
### Overview
Aggregate all data for an internal testing final report following the guideline below

### Action Items
- [ ] Go over Miro board, Excel, and raw notes (if needed) to pull all the information for the final report
   - [ ] identify pain points relevant to the design of the product
   - [ ] how many users identified these pain points
   - [ ] identify quotes and make it clear (use italic

[2022-05-21 18:31] ValeriyaMetla commented on #564
### Overview
Aggregate all data for an internal testing final report following the guideline below

### Action Items
- [ ] Go over miro board, Excel, and raw notes (if needed )to pull all the information for the final report
   - [ ] identify pain point relevant to the design of the product
   - [ ] how many users identified this pain point
   - [ ] identify quotes and make it clear (use italic)

[2022-05-21 18:33] ValeriyaMetla opened #565 "Functionality/Development Feedback for Internal Testing Report"
### Overview
Aggregate all data for an internal testing final report following the guideline below

### Action Items
- [ ] Go over Miro board, Excel, and raw notes (if needed) to pull all the information for the final report
   - [ ] identify pain point relevant to the functionality/development of the product
   - [ ] how many users identified these pain points
   - [ ] identify quotes and make it

[2022-05-21 18:36] #546 closed

[2022-05-21 18:36] ValeriyaMetla opened #566 "General/Other Feedback for Internal Testing Report"
### Overview
Aggregate all data for an internal testing final report following the guideline below

### Action Items
- [ ] Go over miro board, Excel, and raw notes (if needed) to pull all the information for the final report
   - [ ] identify pain points that are ambivalent (as to what team to place; more general points; points that require discussion across teams, PM, org. feedback)
   - [ ] how

[2022-05-23 02:07] jbsteinhardt opened #567 "Edit and finalize final report"
### Overview
Edit and finalize final report.

### Action Items
   - [ ] Synthesize recommendations.
   - [ ] Write Executive Summary.
   - [ ] Make text consistent and clear.
   - [x] Add appendix (of tasks, questions, and scales)
   - [ ] Run by the research team before finalizing.

### Resources/Instructions

[2022-05-23 21:35] ValeriyaMetla commented on #432
# [05/23/22] Agenda and Notes

### Prework
### Roll Call
 - [ ] [Tom](https://github.com/hackforla/expunge-assist/issues/assigned/thomasdemoner)
 - [ ] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
 - [ ] [Jamie](https://github.com/hackforla/expunge-assist/issues/assigned/jamiesiu)
### Recurring items:
 - [ ] review any issues that are in the [new issue appr

[2022-05-23 22:22] thomasdemoner commented on #432
thomas: assign documentation issue for Dev team while we there is no open Development issues

[2022-05-26 19:19] SamHyler commented on #203
Not sure what this is, created by a team member who has left. I would call this marketing/communications or copywriting over ux writing. if it's important to still do, we can try and tackle it in Content when there is time since there are no marketing folks/copywriters. @ValeriyaMetla @jamiesiu

[2022-05-26 19:40] jbsteinhardt opened #568 "UX Research Team Meeting Agenda"
### Overview
Gather all items team members want to propose for this weeks' agenda.

### Action Items
Add comment to this issue with your proposed agenda item. If item warrants an issue of its own please start a [new issue]
# 5/26/22 Agenda and Notes
### Attendees
- [ ]
### New Meeting Items
- [ ] Finishing Final Report on Internal Testing: review and discuss recommendations; last additions
- [ ] H

[2022-05-26 21:27] ValeriyaMetla commented on #203
Thank you @SamHyler, we will have a look at it and revise.

[2022-05-26 23:14] jamiesiu commented on #379
# [Date] Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github

[2022-05-27 18:07] ValeriyaMetla commented on #423
# [05/27/2022] Agenda and Notes
### Attendees

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
    - [ ] [Yumeng](https://github.com/hackforla/expunge-assist/issues/assigned/yumengluo)
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler

[2022-05-27 19:02] #568 closed

[2022-05-28 09:50] SamHyler opened #569 "Copy errors to correct"
### Overview
There are some small errors in the copy on the current version that were overlooked and need to be corrected.

### Action Items
- [x] "Sincerely" is spelled wrong. Please correct.
- [x] Remove gray text in form field under WHY. This is irrelevant and Content did not write this text for this spot - don't know how it ended up there.
- [x] "Community Service" should be written "Community

[2022-05-28 10:46] SamHyler commented on #557
Finished transferring information except for the chart. Needs that and a second look for design elements before putting into ready for review.

[2022-05-30 14:29] SamHyler commented on #569
@aahvocado not sure who to tag or assign here.

[2022-05-30 22:01] jamiesiu commented on #437
Closing this out as "Won't Do" since the current landing page section related to this already advanced to a different iteration currently as
`**Partnership Opportunities**: Expunge Assist is currently looking for partner organizations to refine and tailor the product to the needs of their organizations. Reach out to learn more. `

This issue here is out of date. Can re-open if needed.

[2022-05-30 22:03] #437 closed

[2022-05-30 22:10] jamiesiu commented on #435
Closing this out as we are not separating the "Meet the Team" section by discipline. Instead, we'll be directing towards the Hack for LA EA website and highlighting the team as a whole.

[2022-05-30 22:10] #435 closed

[2022-05-31 00:56] jamiesiu commented on #422
# 2022.05.30 Agenda and Notes
### Attendees
- @RenaNicole @jamiesiu
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ]
    - [ ]
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content Alignment
### New Meeting Items
- [ ]
### FYI
- All team meeting - we plan on sha

[2022-05-31 08:43] SamHyler commented on #550
# [May 31, 2022] Agenda and Notes
### Attendees
- [ ]
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)
### Recurring items:
- [ ] Content + Design system

### New Meeting Items
- [ ] Content

[2022-06-01 23:57] jamiesiu commented on #422
# 2022.06.01 Agenda and Notes
### Attendees
- @jamiesiu
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ]
    - [ ]
    - [ ]
### Recurring items:
- [ ] Review action items from prior meetings
* not moving Wed weekly meeting to Thurs yet
- [ ] Balance Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content Alignment
### New Meeting Items
- [ ]

[2022-06-02 09:12] SamHyler commented on #550
# [May 31, 2022] Agenda and Notes
### Attendees
- [ ] Jamie (PM)
- [ ] Sam
- [ ] Irene

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)

### Recurring items:
- [ ] Content + Design system

#

[2022-06-02 09:14] SamHyler commented on #550
# [June 7, 2022] Agenda and Notes
### Attendees
- [ ]

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)

### Recurring items:
- [ ] Content + Design system

### New Meeting Items
- [ ] Conten

[2022-06-02 17:18] jbsteinhardt commented on #423
# [06/3/2022] Agenda and Notes

### Attendees

### Priority items:
- [ ] Usability final report
   - [ ] Val & Sam: relay feedback from the EA Team
   - [ ] Val: feedback from Bonnie
   - [ ] Next steps?
- [ ]
### Items for next week's agenda:

### New Items
- [ ] Assess where we are with potential partnerships:
  - [ ] who have we been in touch with
  - [ ] what information we want to get from ta

[2022-06-02 22:37] thomasdemoner opened #571 "Cosmetic changes re: info links and Nav bar, based on feedback"
### Overview
Cosmetic changes based on internal feedback that we should test.

### Action Items
Address issues with small links in the footer that were hard to find, and the nav bar that people looked for for information.

- [ ] Make Nav bar under the logo header.
- [ ] Move About Us and FAQ links from the footer to the Nav bar and increase font size.

[2022-06-02 22:40] thomasdemoner commented on #571
@jamiesiu
Just a reminder, we should have Content update the FAQ page to address and link to the About Us, Privacy Policy, and Terms of Use pages from within itself - if it doesn't already.

[2022-06-02 22:40] jamiesiu commented on #436
Closing as this looks to be out of date and based on older iterations of the landing page. Can be reopened if needed.

[2022-06-02 22:40] #436 closed

[2022-06-02 22:43] jamiesiu commented on #399
Closing as this is based on a past iteration of the landing page https://www.figma.com/file/hYqRxmBVtJbDv9DJXV6nra/Expunge-Assist-Main-Figma?node-id=2%3A9 which we are no longer using. Can be re-opened if needed

[2022-06-02 22:43] #399 closed

[2022-06-02 23:03] jamiesiu commented on #379
# 2022.06.02 Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://gi

[2022-06-03 18:46] #563 closed

[2022-06-03 18:46] #566 closed

[2022-06-03 18:47] #565 closed

[2022-06-03 18:47] #564 closed

[2022-06-03 18:48] #567 closed

[2022-06-03 18:58] ValeriyaMetla opened #572 "Converting Findings from Internal Testing into Actionable Items"
### Overview
We need to create Excel where we can document actionable items based on the internal testing report.

### Action Items
- [x] Create Excel based on the example from the TDM calculator Bonnie provided
- [x] Move Feedback from Report to Excel
   - [x] Content
   - [x] Design
   - [x] Development
   - [x] Check all other feedback if not reflected in Issue Tracker Excel
 - [x]  Check MIRO

[2022-06-03 19:16] SamHyler commented on #364
Never received feedback from design. Closing this issue because it's super old now and we've moved passed this. Assigned the label back to Design as it was an issue for Design, not for Content.

[2022-06-03 19:16] #364 closed

[2022-06-04 20:23] ValeriyaMetla commented on #572
Hi Team!
@SamHyler @ana-lobos @jbsteinhardt @Thomas-Pietruszewski @Ndoyle118 @nikitashah14

1) I created Excel to convert user feedback into GitHub issues. I already moved all feedback for Content (comprehensive feedback section). Read the issue for the action steps. We can task on Slack on how to split the work. We should try to complete everything before Thursday so I can check with Product and

[2022-06-04 20:37] #562 closed

[2022-06-04 21:06] ValeriyaMetla commented on #231
@SamHyler here is the issue about privacy policy. Irene has legal background, maybe you can start looking into it.

[2022-06-05 09:05] SamHyler commented on #505
I've created a draft of this documentation. I know this has been on the back burner for a while, grateful if a PM could have a look when you have time and let me know what needs to be added or changed, and if there is a structure to get it ready for Github/Wiki. Also, would it be important to link any specific issues from Github? @jamiesiu @ValeriyaMetla

[2022-06-05 09:50] SamHyler commented on #557
Everything is in Figma now, needs to be designified

[2022-06-05 21:39] jamiesiu opened #573 "Update header & footer with bigger fonts and new navigation links"
### Overview
Update header & footer with bigger fonts and new navigation links

### Action Items
- [x] Update header and footer font size
- [x] Update location of links so users can locate information more easily
- [ ] As needed, further update header and footer design to be more visible

### Resources/Instructions
According to the [Internal Usability Testing Report](https://docs.google.com/docume

[2022-06-06 16:03] SamHyler commented on #561
Found [Ditto](https://www.dittowords.com/) and Frontitude. Seem like similar products, unsure. [Frontitude](https://www.frontitude.com/) allows 2 collaborators for free. Ditto also offers two teammates to use the free version. Question is if two is enough for our needs (We have two in content - do we need a plan that allows design or Dev to use it?)

[2022-06-06 17:08] SamHyler opened #574 "Internal Testing Results: Privacy policy update"
### Dependencies
- [ ] #231
- [x] #579

### Overview
We need to update the privacy policy and provide information to target users in a simple language about how their private data will be used or not.

Two goals:
- [ ] Evaluate previous privacy policy examples and write a new (expand current) privacy policy
- [x] Include a super brief explanation somewhere in simple language about how private info

[2022-06-06 22:01] ValeriyaMetla commented on #432
# [06/06/22] Agenda and Notes

### Prework
### Roll Call
 - [ ] [Tom](https://github.com/hackforla/expunge-assist/issues/assigned/thomasdemoner)
 - [ ] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
 - [ ] [Jamie](https://github.com/hackforla/expunge-assist/issues/assigned/jamiesiu)
### Recurring items:
 - [ ] review any issues that are in the [new issue appr

[2022-06-06 23:55] jamiesiu opened #575 "Create Zoom Background for Expunge Assist Project"
### Overview
Create Zoom Background for Expunge Assist Project

### Action Items
- [ ] Get example from Bonnie
- [x] Create Zoom Background using our logo

### Resources/Instructions
[Expunge Assist Logos & Assets](https://drive.google.com/drive/u/0/folders/1Eu2kVpimmJK9Lptkbs3tpxSMgGfj35tT)

[2022-06-07 00:00] jamiesiu commented on #422
# [2022.06.06] Dev / Design Sync Agenda and Notes
### Attendees
-
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ]
    - [ ]
    - [ ]
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content Alignment
### New Meeting Items
- [ ] Sam C

[2022-06-07 00:06] jamiesiu commented on #575
@ExperimentsInHonesty could you provide an example and further clarity around what we should be doing for this?

[2022-06-07 00:39] jamiesiu commented on #231
Note from Tom/Dev that as part of the usability testing results, we want to make sure the Privacy Policy is listed in the FAQ so it can be more easily found

[2022-06-07 22:09] #569 closed

[2022-06-08 23:59] jamiesiu commented on #422
# [2022.06.08] Design Meeting Agenda and Notes
### Attendees
-
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ]
    - [ ]
    - [ ]
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content Alignment
### New Meeting Items
- [ ]
### FYI /

[2022-06-09 04:16] jamiesiu commented on #543
#### Onboard with Anita Morales @anitadesigns
- [ ] Google Drive
   - [ ] Add to drive as Editor
- [ ] Roster
  - [ ] Send link
  - [ ] Team member adds themselves
  - [ ] Check for Public and note in roster
  - [ ] Check for 2FA and note in roster
- [ ] GitHub
     - [ ] Add to team Expunge Assist
        - [ ] Change membership to maintainer
     - [ ] Add to read vault
        - [ ] Change memb

[2022-06-09 04:35] jamiesiu commented on #575
@RenaNicole will take a look and see what they can come up with

[2022-06-10 00:09] #571 closed

[2022-06-10 00:18] aahvocado commented on #573
Attached a screenshot to #577

[2022-06-10 01:08] jbsteinhardt commented on #423
# [06/10/2022] Agenda and Notes

### Attendees
- Sam
- Nikita
- Val
- Ana
- Sam
- Nick
- Tom
- Joanna

### Priority items:
- [ ] Wrapping up internal Usability Testing final report
   - [ ] anything else to do?
- [ ] Before we move on, I want to go around and take a minute to talk about what we each want to get from this in terms of learning UX methods & thinking

### New Items
- [ ] Next Steps: i

[2022-06-11 08:52] SamHyler commented on #512
@jbsteinhardt this issue is for UXR/Content collab when we're ready to take it up again.

[2022-06-11 19:25] ExperimentsInHonesty commented on #379
Add to next agenda (at the beginning).  Does your dev team need more than 1 hour for their meetings?  If they don't please let me know, and we will move their meeting to zoom 3 and move food oasis to zoom 4 because food oasis needs 2 hours.

[2022-06-11 20:25] ValeriyaMetla opened #579 "Include simple explanation of how private data will be used for EA Website"
### Dependency
- [ ] #62

### Overview
The usability testing showed that users struggled with finding a simple explanation of how their data will be used, whether the progress will be saved, etc. There is a need to create a simple explanation of how private data will be used to ensure legitimacy, transparency, and improve the overall experience for users.

### Action Items
- [x] strategize where a

[2022-06-12 22:47] jbsteinhardt opened #580 "Create GitHub How-To doc for Wiki"
### Overview
Create a document that explains how to use GitHub as a member of the Expunge Assist, for new members to reference.

### Action Items:
- [x] Create draft of the instructions that include information on
   - [x] how to manage GitHub Project Board
   - [x] how to write a good issue
   - [x] how to create agenda for team meeting
- [x] Review with PM
- [x] Review with Org. (Bonnie)
- [x] U

[2022-06-13 01:00] jbsteinhardt opened #581 "Update on Prop 47 + Nov 4, 2022 deadline"
### Overview
Update the EA Team on the details of the [November 4th deadline](https://www.courts.ca.gov/42537.htm) and it's relevance to the project. Is this really the last call for the reduction of felonies (for possession + low-level theft) to misdemeanors under Prop 47?

### Action Items
- [x] Read relevant online material
- [x] Possibly call a county court to verify the details
- [x] Present

[2022-06-13 22:01] ValeriyaMetla commented on #432
# [06/13/22] Agenda and Notes

### Prework
### Roll Call
 - [ ] [Tom](https://github.com/hackforla/expunge-assist/issues/assigned/thomasdemoner)
 - [ ] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
 - [ ] [Jamie](https://github.com/hackforla/expunge-assist/issues/assigned/jamiesiu)
### Recurring items:
 - [ ] review any issues that are in the [new issue appr

[2022-06-13 22:17] jamiesiu commented on #571
thanks for reminder @thomasdemoner . will check with the Content team

[2022-06-13 23:59] jamiesiu commented on #422
# [2022.06.13] Dev Design Sync Meeting Notes
### Attendees
-
### New Meeting Items
- [ ]
### FYI / Announcements
-
### Notes from Meeting
-
### Action Follow-up
- [ ]
### Items for next weeks agenda
- [ ]

[2022-06-14 01:35] RenaNicole opened #582 "Design Updates to Navbar"
Made design updates to the nav bar. A picture is attached for reference.  Also can look at the design in Figma [here](https://www.figma.com/file/hYqRxmBVtJbDv9DJXV6nra/Expunge-Assist-Main-Figma?node-id=2829%3A24861). Any questions or concerns send a message to @RenaNicole (Serena Sanders)

- [x] Make font-weight 500
- [x] White background for nav bar
- [x] Add slight drop shadow
- [x] Add CTA butt

[2022-06-14 08:32] SamHyler commented on #500
merged with https://github.com/hackforla/expunge-assist/issues/478  Closing as they were similar.

[2022-06-14 08:32] #500 closed

[2022-06-14 08:44] SamHyler commented on #550
# [June 14, 2022] Agenda and Notes
### Attendees
- [ ]

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)

### Recurring items:
- [ ] Content + Design system

### New Meeting Items
- [ ] Novem

[2022-06-15 23:57] jamiesiu commented on #422
# [2022.06.15] Design Meeting Notes
### Attendees
-
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ]
    - [ ]
    - [ ]
### Recurring items:
- [ ] Balance / Team Health Sustainability Check
- [ ] Review action items from prior meetings
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content Alignment
### New Meeting Items
- [ ] Check-in on onboardi

[2022-06-16 00:59] jamiesiu commented on #543
#### Onboard Sam C.
- [ ] Design / PM Walkthrough
   - [ ] Team share / demo of work in progress e.g. Design System, Figma, current iterations
- [ ] Google Drive
   - [ ] Add to drive as Editor
- [ ] Roster
  - [ ] Send link
  - [ ] Team member adds themselves
  - [ ] Check for Public and note in roster
- [ ] GitHub
     - [ ] Add to team Expunge Assist write vault
     - [ ] Add to read vault
- [

[2022-06-16 23:08] ValeriyaMetla commented on #379
# 2022.06.16 Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://gi

[2022-06-17 02:11] ValeriyaMetla commented on #505
@SamHyler thank you! We will check the issues structure around Wiki to see if anything could be linked to the issue. Also, did the development (Dan) made a doc about how to work with Wiki page? I remember there was some guidance from him on Slack.

[2022-06-17 02:32] ValeriyaMetla opened #583 "Create Product Launch Timeline"
### Overview
We need a timeline to keep us on schedule for a successful product launch

### Action Items
- [ ] Check an example of [UXR timeline](https://miro.com/app/board/uXjVODq2AvA=/)
- [ ] Create mock-up product launch timeline that includes a soft lunch, testing with users, and launch date
- [ ] identify the steps needed to be completed before the product launch based on internal testing res

[2022-06-17 04:28] jbsteinhardt commented on #423
# 6/17/22 Agenda and Notes
### Attendees
- [ ] Joanna
- [ ] Ana
- [ ] Nick
- [ ] Nikita
- [ ] Sam
- [ ] Val
- [ ] Alba
- [ ] Yumeng
- [ ](Tom can't make it)
### Recurring items:
- [ ] how are issues w/ Content coming along? next steps?
          - [ ] Irene & Ana collab on glossary
          - [ ] let's start keeping track of what questions we would want to ask legal professionals
- [ ] Getting ca

[2022-06-17 18:27] SamHyler commented on #478
Here are a few resources @cynphonic and @ana-lobos:
FAQs (see links at the bottom to some legal) https://docs.google.com/document/d/1O3y2oE_5VdEYDcwdjtdrlPq0d-Rcu_igmzPBcbjli-E/edit
CFA clear my record: https://docs.google.com/presentation/d/14pKBNmwnB9_S7EiL6baiLzlLF3vnvmpg7JDi0ntrpCE/edit#slide=id.gaecf300319_1_0
and: https://codeforamerica.org/programs/criminal-justice/automatic-record-clearanc

[2022-06-17 18:50] SamHyler commented on #478
Came up in the UXR meeting: Some other terms that may or may not be related to personal statement/declaration letter/etc. is: rehabilitation letter, certificate of rehabilitation and pardon. Worth it to dig into - may not be the same thing at all but just putting this here to be sorted.

[2022-06-22 00:42] anitadesigns opened #584 "Create a Site Map of EA Website"
### Overview
Create a sitemap to provide a birds-eye view of content and web pages that are linked to each other.

### What is a Sitemap?
A sitemap is a hierarchical diagram that illustrates the structure of a website or application. Sitemaps are typically created at the beginning of the UX design process to identify where content will sit on a page, show how the navigation should be structured an

[2022-06-22 04:16] jbsteinhardt opened #585 "FigJam/Brainstorm the next phase of outreach/research"
### Overview
What do we want to learn from the next phase of stakeholder meetings and outreach? Prioritize and map out what we're looking to get from these interviews.

### Action Items
- [x] Make Google doc and/or FigJam
- [x] Get team members to contribute
- [x] synthesize for research proposal

### Resources/Instructions
[Brainstorm the next phase of outreach/research - June 2022](https://docs.

[2022-06-22 23:39] jamiesiu commented on #543
#### Onboard Sarah Ahmed
- [ ] Design / PM Walkthrough
   - [ ] Team share / demo of work in progress e.g. Design System, Figma, current iterations
- [ ] Google Drive
   - [ ] Add to drive as Editor
- [ ] Roster
  - [ ] Send link
  - [ ] Team member adds themselves
  - [ ] Check for Public and note in roster
- [ ] GitHub
     - [ ] Add to team Expunge Assist write vault
     - [ ] Add to read vaul

[2022-06-23 06:52] SamHyler opened #586 "Strengthen website legitimacy [from Usability testing]"
### Overview
Address "legitimacy" of website by strengthening content consistency and by (re)writing key content areas

UXR team suggested to provide a clear and accessible explanation of how private data might be used would address this concern.
Bonnie suggested to add About Us description: in the description explain who HfLA is, talk about that we are a brigade for Code for America, civic tech (

[2022-06-23 07:09] SamHyler opened #587 "Increase information access through hyperlinking relevant information [from Usability testing]"
### Dependency
- [ ] #478
- [ ] #409

### Overview
In response to user testing, users sought more information through links and definitions. Links to terms of use for example, in relevant places, learning if they are eligible, information about security, and if HfLA was legitimate were brought up. (See usability testing report google doc)

### Action Items
- [ ] Identify and links to relevant info

[2022-06-23 07:12] SamHyler opened #588 "Address letter process for users [from usability testing]"
### Overview
Users wonder what the letter writing process they are about to start looks like - how long would it take, what does it look like, etc? Users need some overview/peek under the hood/preview to feel secure going forward.

### Action Items
- [ ] brainstorm solutions
- [ ] Create checklist of solutions here.
- [ ] For example: Address letter process somewhere upfront to the user: how many

[2022-06-23 07:20] SamHyler opened #589 "Find and display examples of successful letters/testimonials on website [from usability testing]"
### Dependency
- [ ] #512

### Overview
There is a need for users to read examples of successful letters, stories, experiences of users/letter writers, particularly those that have been successful

### Action Items
- [ ] Research and find examples of successful letters see https://github.com/hackforla/expunge-assist/issues/512
- [ ] Collaborate and iterate with design on how to include these lette

[2022-06-23 07:26] SamHyler opened #590 "Review content in pop-ups [from usability testing]"
### Overview
Users noted that: illustrations in pop-ups should match content, that the font size on the “Welcome” pop-up was very small., there was too much text on some of the pop-ups.

### Action Items
- [ ] Collaborate with Design to iterate new pop-ups
- [ ] Collaborate with Dev and Design regarding decisions about how pop-up content will be displayed
- [ ] Consider creating A/B test with diff

[2022-06-23 07:33] SamHyler opened #591 "Review tone of voice on the “Advice” page for formality and sensitivity/empathy [from usability testing]"
### Overview
Review language choices on the Advice page.
The tone of voice can be read as insensitive or informal (particularly around the word "don't." Examples could be using "consider" or "do not" or visuals instead).

### Action Items
- [x] Review issues and brainstorm/iterate solutions. Suggestions include:
   - [x] Soften the tone by adding suggestions rather than directives ("You may want t

[2022-06-23 07:37] SamHyler opened #592 "Review word choice and phrasing on Advice page [from usability testing]"
### Overview
Review word choice and phrasing on the Advice page.  Primarily: one user did not know what “POV” meant. Review for common terms and plain language.

### Action Items

- [x] Review word choice and phrasing and make this section more clear. “POV” was the primary issue on this page => make the connection between the use/do not use (since POV is literally defined in the next line on the c

[2022-06-23 07:43] SamHyler opened #593 "Review auto-generated text for repetition [from usability testing]"
### Overview
Auto-generated text needs to be reviewed and updated. For example, one user pointed out that several responses began with "Since my conviction…" Another user noticed repetitive sentences under the "Involvement: Job" section.

### Action Items
- [x] Review auto-generated text
- [x] Identify areas of repetition
- [x] Create new copy for those areas
- [x] Collaborate with Dev regarding t

[2022-06-23 07:56] SamHyler opened #594 "Address suggested text and repetition in letter generator [from usability testing]"
### Overview
From usability testing, this was stated:
Users were unsure if the letter generator would add the text that was suggested. (It does.) As a result, a few users ended up with repeated text in the generated letter.
Four users expressed surprise, confusion, and/or concern when they saw phrases they did not write in the generated letter.
One user went back (using the back button) to underst

[2022-06-23 08:00] SamHyler opened #595 "Review inconsistencies in form fields (letter generator) concerning WHY page [from usability testing]"
### Overview
Directions and suggestions on how to start sentences were not consistent throughout the process. A couple users were confused by this. Only some form fields include suggested sentence starters, and only the first form field (on the "Why" page) includes instructions on what to write ("Start with, for example, ‘I want to clear my record because…’”).

### Action Items
- [x] Review proble

[2022-06-23 08:19] SamHyler opened #596 "Review FAQ pages for length [from usability testing]"
### Overview
Usability testing indicated that the FAQs were overwhelming/too wordy. FAQs need to be reviewed for cognative overload.

### Action Items
- [ ] Review FAQs and iterate solutions
- [ ] Bonnie suggested to create FAQ using examples of HfLA and Civic Tech Index websites
- [ ] Collaborate with Dev and Design to create accordions
- [ ] Review in Content
- [ ] Handover to Dev

### Resources

[2022-06-23 08:24] SamHyler opened #597 "Review word choice and phrasing for user clarity [from usability testing]"
### Overview
Review word choice and phrasing across the product.
Examples from usability testing:
Some word choices on the “Involvement” page was unclear, another user didn’t know what "Recovery" referred to.

### Action Items
- [x] Review word choices across platform
- [x] Point out any areas for improvement
- [x] Select those to be worked on now
- [x] Update parenting flow
- [x] Consider changin

[2022-06-23 08:27] SamHyler opened #598 "Review the language on the landing page and FAQ for complicatedness and jargon"
### Overview

Review the language on the landing page and FAQ for complicatedness and jargon:
In particular, users wanted an easy explanation of “expungement” and “declaration letter.” (The phrase “record clearance” is also used and it was unclear if this is the same as “expungement.”)
Cross references with glossary once that is done.

### Action Items
- [ ] Review language on landing page
- [ ] R

[2022-06-23 08:30] SamHyler opened #599 "Review Why page questions for repetition [from usability testing]"
### Overview
Review Why page questions for repetition. A user pointed out that the two long form questions were similar and didn't understand the difference.

### Action Items
- [ ] Review questions of why page
- [ ] Identify issues
- [ ] Iterate changes
- [ ] Review in Content
- [ ] Handover to Dev

### Resources/Instructions

[2022-06-23 18:40] Ndoyle118 opened #600 "Summarizing key takeaways from review of past research"
### Overview
Conduct review of existing user personas, journey maps, and stakeholder interviews on the EA Shared Drive to help align new and current research team members and better understand insights gained from past research as well as plan for upcoming research. This issue is dependency for #473

### Action Items - User Personas and Journey Maps
- [x] Review User Personas and journey maps on E

[2022-06-24 15:37] Ndoyle118 commented on #423
# 6/24/22 Agenda and Notes
### Attendees
- [ ] Joanna
- [ ] Ana
- [ ] Nick
- [ ] Nikita
- [ ] Sam
- [ ] Val
- [ ] Alba
- [ ] Yumeng
- [ ] Tom
### Recurring items:
- [ ] Updates on glossary - Ana & Irene
   - [ ] #478
- [ ] History of research - Nick and Nikita
    - [ ] #600
    - [ ] Summarize key insights from existing User Personas, Journey Maps, and Stakeholder Interviews - one-page highlights

[2022-06-25 02:02] ValeriyaMetla commented on #590
@SamHyler I don't think we need dependency here. Do you mean that it's not urgent? Then, we just keep it in backlog with low priority label. If you meant, something else explain it in the comment, we can change it so it is more clear.

[2022-06-25 02:26] ValeriyaMetla commented on #600
@Ndoyle118 can you add size and feature label. Also, attach relevant documents like links to summaries pages and any major documents you reviewed for user personas, journey maps, and stakeholder interviews. Otherwise looks great!

[2022-06-25 02:53] ValeriyaMetla commented on #473
@Ndoyle118 @nikitashah14 FYI, use this issue as an umbrella while working on this research. I included dependency as #600 already, if you will be creating other issues please link it here as dependencies. And if you think this issue need to be change, feel free to do so, just let me know and I will review what is needed.

[2022-06-25 03:10] ValeriyaMetla commented on #574
@SamHyler FYI there is this issue already exist. Not sure if you saw it. I changed it last week and broke it down.

[2022-06-25 03:12] ValeriyaMetla commented on #464
#### Onboard Alba 06/24
- [x] Google Drive
   - [x] Add to drive as Editor
- [x] Roster
  - [x] Send link
  - [x] Team member adds themselves
  - [x] Check for Public and note in roster
  - [x] Check for 2FA and note in roster
- [x] GitHub
     - [x] Add to team Expunge Assist
- [x] Figma
  - [x] invite
  - [ ] acceptance
- [ ] Add to email address
   - [ ] expungeassist@hackforla.org

[code]

[2022-06-25 10:53] SamHyler commented on #478
@ana-lobos @cynphonic thanks for all the work on this so far! Can you update the Github issue with the link to the proposed document when it's ready? Go ahead and leave the two docs linked as a paper trail but make it clear which one is for use.

[2022-06-25 21:32] cynphonic commented on #478
@SamHyler Hi Sam, Ana and I discussed this in our meeting on Friday, and we wanted to stick with using the two documents that are already linked to this github issue. It's been edited to add a few terms that we want UXR to look into and/or discuss with a lawyer to double check all of the terminology we have listed. We have also included links to helpful resources we found.

[2022-06-27 22:05] ValeriyaMetla commented on #432
# [06/27/22] Agenda and Notes

### Prework
### Roll Call
 - [ ] [Tom](https://github.com/hackforla/expunge-assist/issues/assigned/thomasdemoner)
 - [ ] [Valeriya](https://github.com/hackforla/expunge-assist/issues/assigned/ValeriyaMetla)
 - [ ] [Jamie](https://github.com/hackforla/expunge-assist/issues/assigned/jamiesiu)
### Recurring items:
 - [ ] review any issues that are in the [new issue appr

[2022-06-28 00:08] Ndoyle118 commented on #600
@nikitashah14 Can you take a look at the 'Stakeholder Meeting Notes' document attached in the issue and let me know if this is what you looked at, and if there were any other pages you reviewed when looking at Stakeholder Interviews, feel free to add them!

[2022-06-29 00:29] jamiesiu opened #602 "EA: All-Team Meeting Agenda"
## This issue tracks the running agenda for the All-Team Meeting

_Link for each week's Agenda comment below:_
[2022.10.18](https://github.com/hackforla/expunge-assist/issues/602#issuecomment-1281665821)
[2022.07.12](https://github.com/hackforla/expunge-assist/issues/602#issuecomment-1180992830)
[2022.07.26](https://github.com/hackforla/expunge-assist/issues/602#issuecomment-1190948947)

[code]

[2022-06-29 00:39] jamiesiu commented on #422
# [2022.06.27] Dev / Design Sync Notes
### Attendees
-
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ]
    - [ ]
    - [ ]
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research Alignment
### New Meeting Items
- [ ]

[2022-06-29 23:51] jamiesiu commented on #422
# [2022.06.29] Design Meeting Notes
### Attendees
-
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ]
    - [ ]
    - [ ]
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research Alignment
### New Meeting Items
- [ ] Dec

[2022-06-30 15:34] ana-lobos commented on #478
Hi @SamHyler! As Irene mentioned, we've kept both of them. I've added a bit more info as to which issue is which for clarity.

[2022-06-30 22:13] BCHEN222 commented on #379
-https://github.com/hackforla/google-drive-migration/issues/8

[2022-07-01 00:11] jamiesiu commented on #422
# [2022.07.06] Design Meeting Notes
### Attendees
-
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ]
    - [ ]
    - [ ]
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research / Product Alignment
### New Meeting Items

[2022-07-01 03:05] jbsteinhardt commented on #423
# 7/1/22 Agenda and Notes
### Attendees
- [ ] Joanna
- [ ] Ana
- [ ] Nick
- [ ] Nikita
- [ ] Sam
- [ ] Val
- [ ] Alba
- [ ] Yumeng
- [ ] Tom

### New Meeting Items
- [ ] Val: updates from Bonnie
   - [ ]  Excel sheet
   - [ ] (more internal testing?)
- [ ] FigJam for research brainstorm -- this is still in the works; maybe do a screen share preview?

### Recurring items:
- [ ] Researching Public L

[2022-07-01 14:56] nikitashah14 commented on #600
Yes, that is the correct document. I also checked out the Interview Guide, which has an overview and script from the Stakeholder Interviews. I added the main takeaways from what we had discussed during our team meeting, but feel free to add anything else in case I missed other points in the User Personas/Journey Maps section!

[](https://docs.google.com/document/d/1MmgMMEtltrPqtWNrhXVgmEBveT_yqdXZ

[2022-07-01 18:49] Thomas-Pietruszewski commented on #62
Hi all,

I got in touch with the webmaster for LA public libraries. I asked if any information is stored between user session (i.e. browser history, saved login information, or any other kind of information that users might input into browsers or websites and got the following response.

"Our full internet-access computers are on a managed system, and when your time is up the computer does a full

[2022-07-01 19:08] SamHyler opened #603 "User Terminology Survey for Target Users"
### Dependency
- [ ] #669

### Overview
The aim of the survey is to clarify terminology based on the internal testing results. We need to get real user feedback on what they actually use, versus what websites say, so that we can align and select the best terminology for our product in Content. 1. what the letter is called (declaration letter, support letter, personal statement) 2. what is the most

[2022-07-01 19:10] SamHyler commented on #603
@jbsteinhardt @Ndoyle118 I didn't see the issue created yet from last week so I created it now. Feel free to adjust the labels. Can't find the bracket on this keyboard, feel free to fix that in the text body (check boxes instead of bullets) as well!

[2022-07-01 19:20] SamHyler commented on #62
Thanks Tom! Can you quote what they said about time limits here as well so that information doesn't get forgotten? Thanks!

[2022-07-01 19:22] SamHyler commented on #478
Thanks @cynphonic and @ana-lobos , sorry I misunderstood from the last UXR when Ana spoke about it.  Thank you both for your work on this issue! We can discuss in Content at the next meeting.

[2022-07-01 19:24] SamHyler commented on #603
Just checking in - did we say we wanted to also ask about the terms around expungement in this survey or only the letter?

[2022-07-01 19:38] Thomas-Pietruszewski commented on #62
Here's where I found the information about time limits.

https://rsvpweb.lapl.org/pcrweb/reserve.pl

One reservation can be made per day, it can be up to 2 hours in length, and it must be scheduled 5 days in advance.

[2022-07-01 21:23] jbsteinhardt commented on #603
Okay got it!

I think it's still an open question what exactly we want to include. It
would help me to see what the survey will actually look like. Want to work
on this when you get your new laptop? We can figure out how long it would
take to ask 2-4 questions.

On Fri, Jul 1, 2022 at 12:25 PM Sam ***@***.***> wrote:

--

<http://goog_867028585>
https://jbsteinhardt.com/

[2022-07-04 13:51] ValeriyaMetla commented on #581
@jbsteinhardt and @Thomas-Pietruszewski please provide outcomes of the research in the comment, and I will close the issue then. If we don't include the outcomes, future teams won't be able to know how this issue was resolved. Thank you!

[2022-07-04 13:59] ValeriyaMetla commented on #580
@jbsteinhardt and @Ndoyle118 as we already have [HfLA Guide] (https://docs.google.com/document/d/11Fe7mNdmPBP5bD_yLJ1C0_I1TmoK47AuHHrdhdDyWCs/edit#heading=h.nl3p4nf4eqb4), @ExperimentsInHonesty proposed to identify what is missing in the guide and we can add to it from EA How-To doc. And leave there anything that is specific for the project, like feature labels.

[2022-07-04 14:14] ValeriyaMetla commented on #379
# 2022.07.07 Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://gi

[2022-07-04 15:11] ValeriyaMetla commented on #433
Based on the outcomes of this research, a letter to the judge is only required in CA in relation to marijuana convictions (Prop 64). The letter could accompany the expungement petition in all states but is not required. We also know that pardons require a similar letter. Should we reference this issue somewhere? Extend research on pardons? (doesn't have to do it know, but create issue and put it i

[2022-07-04 15:32] ValeriyaMetla commented on #464
#### Offboard @ana-lobos
- [x] Google Drive
   - [x] demote to viewer
- [x] Roster
  - [x] mark as inactive
- [ ] Figma
  - [ ] remove from team
- [ ] Remove from email address(s)
   - [ ] expungeassist@hackforla.org

[2022-07-04 16:26] ValeriyaMetla commented on #401
@jbsteinhardt I think we can remove #62 from here. This issue is not about reaching out to legal professionals and doesn't have to be dependency for our research plan.

[2022-07-05 16:22] SamHyler commented on #550
# [June 28, 2022] Agenda and Notes
### Attendees
- [ ]

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)

### Recurring items:
- [ ] Content + Design system

### New Meeting Items
- [ ] Check

[2022-07-07 22:52] ValeriyaMetla commented on #544
@jamiesiu if the issue is completed, please close it. Now, it's in Closed Issue column but the issue is reflected as open. Also, please check the boxes for the Action Items if those are complete, and attach document or write in a comment how issue was resolved, any outcomes, next steps.

[2022-07-07 22:55] ValeriyaMetla commented on #581
Thank you @jbsteinhardt! I am closing the issue as it seems no next steps are needed.

[2022-07-07 22:55] #581 closed

[2022-07-07 23:16] jamiesiu commented on #575
@RenaNicole

Examples from Bonnie
* https://www.figma.com/file/TTRS2FWXsrymHYpPJL1IdH/Internship-Team-Main-file?node-id=2%3A19. taken from a charity event. You can notice from the screenshots that the speaker has a dynamic-looking type background that draws your attention to the speaker and has their project name in the corner. Perhaps we can do similar with a purple background?
* [TDM Calculator

[2022-07-08 15:45] SamHyler commented on #590
I mean that it's not an issue we can resolve solely in content. If we make changes, it will affect Design and Dev in more than just changing the words. So I'll fix the dependency after we figure out our task priority with Design (Tuesday we'll do the exercise). Perhaps a joint issue is better suited, not sure now

[2022-07-08 17:40] Ndoyle118 commented on #423
# 7/8/22 Agenda and Notes
### Attendees
- [ ] Joanna
- [ ] Nick
- [ ] Val
- [ ] Alba [Can't attend]
- [ ] Nikita
- [ ] Tom
- [ ] Yumeng [Can't attend]
- [ ] Sam

### New Meeting Items
- [ ] Val: updates from meeting with Bonnie this week and answers to questions
- [ ] Research timeline and upcoming milestones
- [ ] Excel sheet still needs to be finished and converted into issues
- [ ] Brainstormin

[2022-07-10 19:09] SamHyler commented on #550
# [July 12, 2022] Agenda and Notes
### Attendees
- [ ]

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)

### Recurring items:
- [ ] Content + Design system

### New Meeting Items
- [ ] Quick

[2022-07-11 22:50] jamiesiu commented on #602
# [2022.07.12] Agenda and Notes

### Prework
- [ ] Representative from each team
- [ ] Product Defined Agenda here
- [ ] Reminder to team in Slack w/ topics

### Roll Call
@ValeriyaMetla @thomasdemoner

### Recurring items:
- [ ] New Teammates Intros / Team Roster Updates
- [ ] High Level Updates from each Team (UXR/Dev/Content/Design/Product)
- [ ] Overall Project Direction (Product)

### New Mee

[2022-07-11 23:59] jamiesiu commented on #422
# [2022.07.11] Dev / Design Sync Notes
### Attendees
-
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ]
    - [ ]
    - [ ]
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research / Product Alignment
### New Meeting It

[2022-07-12 00:22] aahvocado opened #604 "Date and closing line is not saved when downloaded"
Steps to reproduce:
* fill out form to the "Previewing final letter" step
* observe there is a date at the top and closing statement (sincerely) at the bottom
* press Next and download the statement via any method
* observe that there is no date and closing statement

Fix:
* show the date and closing statement when downloaded

[2022-07-13 23:48] jamiesiu opened #605 "Improve Visibility and Accessibility of Privacy Information"
### Overview
Per user feedback from internal usability testing, privacy information is hard to find. Make it visible and accessible.

### Action Items
- [x] Evaluate current privacy policy information flow
- [x] Develop recommendations / proposed (e.g. suggested making a link or button on LP, increasing size of buttons)
   - [x] Implement changes in Design system
   - [x] Reflect changes in wirefr

[2022-07-13 23:56] jamiesiu opened #606 "Resize short form input fields to reduce confusion"
### Overview
Per user feedback from internal usability testing, there was confusion about what to write in some fields due to the form field size. Resize these to make it easier to understand.

### Action Items
- [x] Identify short form fields that created confusion and need to be updated
- [x] Determine and develop solution (proper size/resize)
- [x] Implement change with Development Team / Creat

[2022-07-13 23:57] jamiesiu commented on #422
# [2022.07.13] Design Meeting Notes
### Attendees
-
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ]
    - [ ]
    - [ ]
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research / Product Alignment
### New Meeting Items

[2022-07-18 21:52] jamiesiu commented on #432
# [07/18/22] Agenda and Notes

### Prework

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
    - [ ]

### New Meeting Items
- [ ] Product COP Meetings
- [ ] Google Drive Migration Support

[2022-07-19 00:24] jamiesiu commented on #422
# [2022.07.18] Dev / Design Sync Notes
### Attendees
- @sydneywalcoff @RenaNicole @anitadesigns @jamiesiu @aahvocado
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ]
    - [ ]
    - [ ]
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> D

[2022-07-19 00:43] jamiesiu opened #608 "Combine the Final Letter Preview and Letter Download Page"
### Overview
We would like to update the final letter preview and letter download page, so that users can more easily move through the flow and understand how they can edit the final letter.

### Action Items
- [x] Update design to combine final letter preview and download/copy/save letter options
- [x] Work with Content to update and include messaging - re: users can edit the final letter once th

[2022-07-19 04:18] RenaNicole opened #609 "Updated Footer"
Designed a new footer with a slightly increased font size for the Privacy Policy & Terms of Use. If you need to inspect for specific properties or css please reference it [here](https://www.figma.com/file/hYqRxmBVtJbDv9DJXV6nra/Expunge-Assist-Main-Figma?node-id=2314%3A24722). Any questions or concerns send a message to @RenaNicole (Serena Sanders)

- [x] Added logo
- [x] Privacy Policy & Terms of

[2022-07-19 16:27] SamHyler opened #610 "MoSCoW for Content"
### Overview
Do MoSCoW exercise together at team meeting in preparation for next sprint before usability testing round 2.

### Action Items
- [x] Decide priority of issues
- [x] Arrange in Figjam
- [x] Sync between Github issues, and [sheet](https://docs.google.com/spreadsheets/d/1NfqYUQKl7GRz1-r-vWI0kBWa-mgkXagCDAz9wMAa6Bc/edit#gid=0). (Sam)

### Resources/Instructions
Google sheet (https://docs.

[2022-07-19 16:27] #610 closed

[2022-07-19 16:33] SamHyler commented on #561
Letter is ready to go, needs to be checked and sent

[2022-07-19 16:41] SamHyler commented on #557
Could very much use a second pair of eyes on this @ Design team and @cynphonic.

Everything is in Figma since June 5th, just needs a more useful format.

[2022-07-20 19:58] ExperimentsInHonesty commented on #379
Please add to next agenda - reviewing the changes I made to your email account and next steps
- go through the labels and see if there is a way to tune each account that is sending your messages so its only the messages you need, not spaming the email
- What to so with share requests
- etc.

[2022-07-20 23:40] jamiesiu commented on #422
# [2022.07.20] Design Meeting Notes
### Attendees
-
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ]
    - [ ]
    - [ ]
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research / Product Alignment
      - Open requests

[2022-07-20 23:46] jamiesiu opened #612 "Competitive / Comparative Analysis"
### Overview
Update our comparative / competitive analysis to understand if we should make or buy solution(s)/tool(s) to fulfill our user's need and project goals.

### Action Items
- [ ] Review past competitive/comparative analysis documentation and port over to template form
- [ ] Update analysis based on current project status and team direction/resourcing

### Working Document
[EA Competitive

[2022-07-21 00:31] jamiesiu opened #613 "Ensure key information on the expungement process is visible and easily located on the Landing Page"
### Overview
Ensure key information on the expungement process is visible and can be easily located from the landing page.

### Dependency
UXR work in #616

### Action Items
- [x] Gather information from UXR on User Journey via #616
- [x] Develop design to illustrate EA process and where it fits in
- [x] Create dev issue to implement

### Resources/Instructions
[EA: Internal Usability Pilot Result

[2022-07-21 01:15] jamiesiu opened #614 "Evaluate different grid widths for website (borders header footer / centered cards / text fields) for better viewability and consistency"
### Overview
Evaluate different grid widths for website (borders header footer / centered cards / text fields) for better viewability and consistency

### Action Items
- [x] Assess how widths differ across various parts of website and across different designs (Mobile vs Desktop)
- [x] Understand impact with Partner teams for any changes we would make (e.g. impact to Content for text fields, flow)

[2022-07-21 01:40] ValeriyaMetla commented on #612
@jamiesiu @thomasdemoner I added HfLA Guide. I will move it to the backlog.

[2022-07-21 01:55] ValeriyaMetla commented on #602
# [7.26.22] Agenda and Notes

### Prework
- [ ] Representative from each team
- [ ] Product Defined Agenda here
- [ ] Reminder to team in Slack w/ topics
### Roll Call

### Recurring items:
- [ ] New Teammates Intros / Team Roster Updates
- [ ] High Level Updates from each Team (UXR/Dev/Content/Design/Product)
- [ ] Overall Project Direction (Product)

### New Meeting Items
- [ ] Checking prioriti

[2022-07-21 02:24] ValeriyaMetla commented on #580
After reviewing the How-To Doc it seems like yes, there are some extra details and basic instructions to navigate GitHub to accomplish all these tasks - create an issue, create an agenda, and manage Kanban Board. We can give it to Guide team if they feel the need to incorporate any of that. I would add 3 docs on our Wiki in the Onboarding section, HfLA Kanban Guide, Geeting the most out of GitHUb

[2022-07-21 02:43] ValeriyaMetla commented on #557
@SamHyler can you put the links to the doc and Figma page. @jamiesiu not sure if you had a chance to review this but seems like we need design team feedback. I will review after links are attached:) Thank you Sam!

[2022-07-21 03:15] ValeriyaMetla commented on #572
Ideally, we also need 1) update Status column 2) provide brief description in the Action column @jamiesiu @thomasdemoner @SamHyler

[2022-07-21 03:42] ValeriyaMetla commented on #602
@thomasdemoner @jamiesiu We should assign team members from research, design, and development. We can take notes here the next meeting, I already created an agenda.

[2022-07-21 04:28] ValeriyaMetla opened #615 "Create Product Roadmap"
### Overview
We need to create a product roadmap using HfLA Guide.  It will support PMs in better guiding the team and product development.

### Action Items
- [x] Review HfLA Guide on how to create Product Roadmap
- [x] Create a draft in Miro Board
   - [x] Review with PMs, Leads
- [x] Review and align with Milestones in Excel and GitHub #560
- [x] Use for Monthly Planning Meeting #670

### Curre

[2022-07-21 12:53] SamHyler commented on #590
I put 1 point for now, if we do A/B testing and depending on collab decisions it would be a larger size

[2022-07-21 13:11] SamHyler commented on #557
Yes of course, sorry for that! It's ready @jamiesiu @ValeriyaMetla

[2022-07-22 17:53] ValeriyaMetla commented on #423
# 7/22/22 Agenda and Notes
### Attendees
- [x] Joanna
- [x] Nick
- [x] Val
- [ ] Alba [Can't attend]
- [x] Nikita
- [ ] Tom [Can't attend]
- [ ] Yumeng [Can't attend]
- [x] Sam

### New Meeting Items

[2022-07-22 18:35] ValeriyaMetla opened #616 "Create User Journeys"
### Overview
In response to user testing, Content & Design are collaborating on creating an onboarding and demo sequence for users to understand the product better and more quickly. One of those elements includes an understanding of the user journey through expungement as a whole. We are requesting a compiled user journey from the UXR team, which the Design and Content team will then convert into

[2022-07-23 05:11] anitadesigns opened #617 "Update About Us Page"
### Overview
The Content and Design Team met to go over the information architecture of the landing page. Both teams found that the "Who We Are" and "What is Expunge Assist?" sections closely align with each other. The Content and Design Team decided to merge these sections together on the Landing page and include more information about the Team on the "About Us" page.

### Action Items
- [x] Tran

[2022-07-23 15:56] SamHyler opened #618 "EA: Open Sync Meeting Agenda"
### Overview
This issue tracks the running agenda for the Content x Design x UXR team weekly meetings (Fridays 9:30AM PST)

Reply in the comment using this format to create weekly agenda.

### Format
[code]

[2022-07-23 18:04] anitadesigns commented on #618
### Overview
This issue tracks the running agenda for the Content and Design team weekly sync meetings (Fridays 9:30 AM PST)

Reply in the comment using this format to create weekly agenda.

###Format

# [July 22, 2022] Agenda and Notes
### Attendees
- [ ] Sam
- [ ] Anita
- [ ] Serena
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.

[2022-07-23 18:48] #582 closed

[2022-07-23 19:37] anitadesigns opened #619 "Create wireframe for overview of questions on Letter Generator"
### Overview
Add another page that would contain an overview of the questions going to be asked in the letter generator form

### Action Items
- [ ] Gather sections and questions that are asked in the Letter Generator form
- [ ] Create a low-fidelity wireframe
- [ ] Present to Content Team for feedback
- [ ] Create a high-fidelity wireframe
- [ ] Create GitHub issue for Dev

[2022-07-23 19:44] anitadesigns opened #620 "Implement visual design in Content Guidelines"
### Overview
The Content Team requested the Design Team to improve the Content/Writing Guidelines on Figma to make it easier to read and to consume

### Action Items
- [ ] Review Content/Writing Guidelines on Figma
- [ ] Brainstorm designs to implement
- [ ] Implement designs
- [ ] Present to Content Team for feedback

### Resources/Instructions
[Content/Writing Guidelines Figma page](https://www.

[2022-07-23 19:56] anitadesigns opened #621 "Add copy to Privacy/ Information Security Section"
### Overview
To address user concerns about data privacy, Design Team included a new section on the landing page to assure that user information would be kept secure. This section needs copy

### Action Items
- [x] Review the new landing page wireframe
- [x] Create copy for section
- [x] Iterate in Content
- [x] Handoff copy to design/ write copy in the section of wireframe

### Resources/Instruct

[2022-07-23 20:00] anitadesigns opened #622 "Create Copy for new section on last page of letter generator"
### Overview
Create copy for the section that shares either a disclaimer that users cannot edit on the final preview page or how they can further edit their letter ( going back to edit pages or downloading letter into word doc or copying text)

### Action Items
- [x] Review the new letter generator wireframe
- [x] Create copy for section
- [x] Handoff copy to design/ write copy in the section of w

[2022-07-23 20:10] anitadesigns opened #623 "Choose 3 questions from FAQ to include in the FAQ section on the landing page"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
- [x] Review questions in FAQ
- [x] Select 3 questions from FAQ that users may ask more frequently
- [x] Provide Design Team the 3 questions selected/ add 3 questions to FAQ section on Landing page wireframe

### Resources/Instructions
[FAQ page on website](https://expu

[2022-07-23 20:16] anitadesigns opened #624 "Re-arrange content on the landing page"
### Overview
Per our Content & Design Team Sync Meeting on July 22, 2022, we decided to re-arrange the content on the landing page.

### Action Items
- [x] Move Letter Generator below hero header
- [x] Merge the “What is Expunge Assist?” and “Who We Are” sections and have a button below that directs users to the About Us page
- [x] Present to Content for Feedback and review
- [x] Include visual de

[2022-07-23 22:29] RenaNicole opened #625 "Letter Generator Nav Bar"
Updated navigation bar during letter generator process. Picture is attached for reference and can be found in the [design system in Figma](https://www.figma.com/file/hYqRxmBVtJbDv9DJXV6nra/Expunge-Assist-Main-Figma?node-id=2314%3A24722).

- [ ] Remove "Start Now" button
- [ ] Slide navigation links to the right
- [ ] Fixed to top of the screen
- [ ] Add slight drop shadow
![Form](https://user-imag

[2022-07-24 09:12] SamHyler commented on #557
adding @RenaNicole and @anitadesigns  for review

[2022-07-25 10:47] SamHyler commented on #550
# [July 26, 2022] Agenda and Notes
### Attendees
- [ ]

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)

### Recurring items:
- [ ] Which issues can we close?

### New Meeting Items
- [ ] Qu

[2022-07-26 11:08] SamHyler opened #628 "Pop-up minor changes"
### Overview
The pop-ups used to be webpages, and were designed as such. When they became pop-ups, the copy stayed the same. Consider changing the button copy to something more appropriate.

Buttons are not in figma, but next buttons appear on the webpage.

### Action Items
- [x] Change button copy (next) to something else (Change them to "LET'S CONTINUE")
- [x] Collab with design on updating the

[2022-07-28 00:04] jamiesiu commented on #422
# [2022.07.27] Design Meeting Notes
### Attendees
- @anitadesigns @RenaNicole @jamiesiu
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research / Product Alignment
      - Important Updates from Partner Teams
      - Open requests with Dev or Content
      - Any

[2022-07-28 12:29] SamHyler commented on #558
An brief one page overview document was created, decision to ask for Ditto use was made to move forward in the content system.

[2022-07-28 12:29] #558 closed

[2022-07-28 12:38] SamHyler commented on #591
This issue could use some collab with design regarding emojis or other visuals

[2022-07-28 12:51] SamHyler commented on #579
Design and Content are currently iterating a small blurb regarding privacy on the landing page, forthcoming

[2022-07-28 22:50] ValeriyaMetla commented on #379
# 2022.07.28 Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://gi

[2022-07-29 00:31] #609 closed

[2022-07-29 04:39] anitadesigns commented on #618
# [Date] Agenda and Notes
### Attendees
- [ ]
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)
    - [ ] Serena
    - [ ] Anita
### Recurring items:
- [ ]
### New Meeting Items
- [ ] Review S

[2022-07-29 05:21] jbsteinhardt commented on #423
# 7/22/22 Agenda and Notes
### Attendees
- [ ] Joanna
- [ ] Nick
- [ ] Val
- [ ] Alba
- [ ] Nikita
- [ ] Tom
- [ ] Yumeng
- [ ] Sam

### New Meeting Items
- [ ] Val can catch us on milestones + road map -- what is relevant to Research?
   - [ ] Notes from last week said "We need user journey, timeline, collab with research. We need quick visual overview - gives them big impression of how much time

[2022-07-29 17:39] #625 closed

[2022-07-30 19:49] SamHyler commented on #628
Change buttons on the pop-ups to "LET'S CONTINUE"

[2022-07-30 20:01] SamHyler commented on #628
Consider moving the button to the right side on the pop-ups @RenaNicole @anitadesigns (for ex https://expungeassist.org/#/./form/involvement)

[2022-07-31 08:58] SamHyler commented on #550
# [August 2, 2022] Agenda and Notes
### Attendees
- [ ]

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)

### Recurring items:
- [ ] Which issues can we close?

### New Meeting Items
- [ ] U

[2022-08-01 22:01] ValeriyaMetla commented on #432
# [08/01/22] Agenda and Notes

### Prework

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM

### New Meeting Items
- [ ] Product COP Meetings
   - [ ] 29th - Product Manager from Google, ht

[2022-08-01 23:32] jamiesiu commented on #422
# [2022.08.01] Design Meeting Notes
### Attendees
-
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research / Product Alignment
      - Important Updates from Partner Teams
      - Open requests with Dev or Content
      - Any requests we're depended on (by Dev/

[2022-08-02 11:48] SamHyler commented on #561
Letter was sent to Ditto

[2022-08-02 12:10] SamHyler commented on #505
I've updated the document. To your questions @Val: Dan created a resource for updating content using code [here](https://github.com/hackforla/expunge-assist/wiki/Updating-Content). I've added it to the doc.

[2022-08-02 12:27] SamHyler commented on #621
Have created a first draft, all copy is living entirely in Figma now (source of truth)

[2022-08-02 16:19] SamHyler commented on #603
A draft of the survey is now done save some minor details. Finalizing when there is time (lower prio due to other task deadlines)

[2022-08-02 18:58] SamHyler commented on #621
final copy has been finalized for second round of user testing, source of truth is directly in figma.

[2022-08-02 18:58] #621 closed

[2022-08-02 18:59] SamHyler commented on #621
@anitadesigns @RenaNicole I assume the copy will be handed over to dev as a package when the landing page is finalized?

[2022-08-03 02:17] anitadesigns opened #630 "Update FAQ page"
### Overview
The current FAQ page is overcrowded with questions and answers that make it difficult for users to scan. Content Design also requested to add questions to the page. This issue is an extension of https://github.com/hackforla/expunge-assist/issues/598

### Action Items
- [x] Create a desktop wireframe with an updated menu and footer
- [x] Grab copy from "FAQ-text only" frame under the F

[2022-08-03 04:35] ValeriyaMetla commented on #431
@Thomas-Pietruszewski I added all relevant documents. Ana did work on it already. I added comments also a while back, so use the version Newer with Comments.

[2022-08-03 04:49] ValeriyaMetla commented on #478
@SamHyler @jbsteinhardt I just left some comments. I also had a look at the glossary and a lot of terms I can clarify. I was teaching corrections for several years, terms like "probation" and few others. I will give it a read sometime soon.

[2022-08-03 05:50] ValeriyaMetla commented on #433
I have reviewed this issue with Bonnie. Here is her feedback for the next steps of research:

To craft a message we can send to public defenders on LinkedIn maybe can do a public poll on LinkedIn. Possibly find in public defender groups, etc. Or Facebook group for public defenders LA, or office of a public defender. We can also do the same for NY or other cities to compare. Essentially, online spa

[2022-08-03 23:49] jamiesiu commented on #422
# [2022.08.03] Design Meeting Notes
### Attendees
-
### Recurring items:
- [ ] Review action items from prior meetings (See agenda comments)
- [ ] Balance / Team Health Sustainability Check (See [Board Design Filter](https://github.com/hackforla/expunge-assist/projects/1?card_filter_query=label%3A%22role%3A+design%22))
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research /

[2022-08-04 01:05] jamiesiu commented on #543
#### Onboard Snigdha Behara
- [ ] Design / PM Walkthrough
   - [ ] Team share / demo of work in progress e.g. Design System, Figma, current iterations
- [ ] Google Drive
   - [ ] Add to drive as Editor
- [ ] Roster
  - [ ] Send link
  - [ ] Team member adds themselves
  - [ ] Check for Public and note in roster
- [ ] GitHub
     - [ ] Add to team Expunge Assist write vault
     - [ ] Add to read v

[2022-08-04 01:21] jamiesiu commented on #630
to assign to Snigdha once their GH username is confirmed

[2022-08-04 05:00] #623 closed

[2022-08-04 12:23] SamHyler commented on #630
Content for existing FAQs is here: https://docs.google.com/document/d/1O3y2oE_5VdEYDcwdjtdrlPq0d-Rcu_igmzPBcbjli-E/edit.

We will update in Figma going forward as a source of truth when we add the new questions (and eventually when we rewrite the FAQs)

[2022-08-04 13:07] SamHyler commented on #478
What still needs to be done to close this issue:

- Documents need to be cleaned up, titled properly, and put into appropriate folders on google drive. There are three documents, [one](https://docs.google.com/document/d/1D19tbPqQkFzHYF2GemsZDDdMjbUM6jh6E6ArYWS-WIo/edit), [two](https://docs.google.com/document/d/1wJVO0tgkG3S8CZd8N3KNbFXFbJREo-JZ7NfK_RNwA7Y/edit), and [three](https://docs.google.com

[2022-08-04 13:12] SamHyler commented on #409
This issue needs to be updated with all the relevant documents in the resource/instruction seciotn

[2022-08-04 13:19] SamHyler commented on #550
# [August 2, 2022] Agenda and Notes
### Attendees
- [ ]

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)

### Recurring items:
- [ ] Which issues can we close?

### New Meeting Items
- [ ] A

[2022-08-04 18:39] anitadesigns commented on #618
# [August 5, 2022] Agenda and Notes
### Attendees
- [ ]
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)
    - [ ] Serena
    - [ ] Anita
### Recurring items:
- [ ] Sitemap update- done
- [ ]

[2022-08-05 17:50] SamHyler commented on #592
Both this issue and the [other](https://github.com/hackforla/expunge-assist/issues/591) Advice issue were done together to tackle common issues/changes. Closing this issue and will hand over all work to Dev together.

[2022-08-05 17:50] #592 closed

[2022-08-06 07:07] SamHyler opened #631 "[PAUSE STUFF] Update and sync all button copy across product/design system [Design/Content system stage 2]"
### Overview
Update the Design system by adding all buttons throughout the product to distinguish which copy goes where.
This is a next step in updating the content in the design system and syncing across product.

### Action Items
- [x] Review all buttons and discover inconsistencies and areas for improvement. Find all distinguishable buttons and make a list/categories
- [x] Flag button copy to b

[2022-08-06 07:13] SamHyler opened #632 "Update copy on About us page [before internal usability testing 2]"
### Overview
Design is working on the landing and about us pages and rearranging the presentation of content between them before the next usability testing. Content is needed to complete these designs. Content has time before the next usability testing to finish these tasks.

Focus will be on making the landing page for potential target users. About us page will have a section for potential partne

[2022-08-06 07:15] SamHyler opened #633 "Update copy on landing page [before internal usability 2]"
### Overview
Design is working on the landing and about us pages and rearranging the presentation of content between them before the next usability testing. Content is needed to complete these designs. Content has time before the next usability testing to finish these tasks.

Focus will be on making the landing page for potential target users. About us page will have a section for potential partne

[2022-08-06 07:22] SamHyler opened #634 "Update "Looks good" button"
### Overview
Update copy on the "Looks good" button to something more clear and straightforward.
### Action Items
- [ ] Replace "Looks good" with something else
- [ ] Replace copy in prototype everywhere it appears (Desktop, Mobile, Design system)
- [ ] Handover to Dev
- [ ] Close issue
### Resources/Instructions
Everywhere in figma

[2022-08-07 18:20] SamHyler commented on #628
Design is updating the Mobile, Desktop, and Design system in figma with this button change. Sam is creating an issue to hand over the copy to Dev.

[2022-08-09 01:27] anitadesigns opened #635 "Add "Completed" Progress Bar to "Previewing final letter" page"
### Overview
The ["Preview final letter"](https://expungeassist.org/#/./form/finalize/preview) page does not have a progress bar; whereas other pages in the Letter Generator form do. Other pages within the Letter Generator contain a title above the progress bar that reflects their progress within the form. We would like to add a completed progress bar on the "Previewing final letter" page on mobil

[2022-08-09 22:50] anitadesigns commented on #584
Sitemap is updated to the current website layout but is being left open as design and content changes are being made for the next Internal Usability Testing

[2022-08-10 00:24] anitadesigns opened #636 "Create wireframe for LP with FAQ accordion expanded"
### Overview
As an extension of https://github.com/hackforla/expunge-assist/issues/624, we need to display what the FAQ accordion would look like when the user clicks on a question.

### Action Items
- [x] Design an expanded accordion for FAQ questions
- [x] Create mobile version
- [x] Implement in LP to hand off to Dev

[2022-08-10 00:38] anitadesigns opened #637 "Implement visual design to Advice page"
### Overview
In collaboration with Content Team, the Advice page for the Letter generator needs visual design to make the information easier to follow.

### Action Items
- [x] Brainstorm visual indicators for "do" and "don't"
- [x] Brainstorm layout of desktop and mobile
- [x] Include visual design
- [x] Present to Content for review and approval
- [x] Present to Dev for review
- [x] Create issue

[2022-08-10 00:46] anitadesigns opened #638 "Create design with activated buttons for last page of LG"
### Overview
As an extension of https://github.com/hackforla/expunge-assist/issues/608, we need to design how the last page of the letter generator would look like when the user would click the box and activate the download button options

### Action Items
- [x] Add check mark to box
- [x] Change color of buttons to Electric violet
- [x] Create mobile version for page
- [x] Present to Design and C

[2022-08-10 01:56] anitadesigns opened #639 "Figma Re-organization"
### Overview
Re-organize EA Team Figma that will include a space for Design and Content Team to work in, communicate process and final/current designs, hold design system (content + design) and conserve past designs.

### Action Items
- [x] Research:
   - [x] Reach out to the Design Systems team for Figma Kit
   - [x] Research how others organize Figma
   - [x] Assess team needs and workflow
- [x]

[2022-08-10 02:11] anitadesigns opened #640 "Create Pop-Up for last page of Letter Generator"
### Overview
On the last page of the letter generator, users are able to preview their declaration letter and obtain a copy through different methods. On the bottom of the page, there is a "RETURN HOME" button that would direct users to the home page and delete their progress/letter. To prevent users from losing their letter when not intended, we need to design a pop-up warning them of this action

[2022-08-10 04:54] anitadesigns opened #641 "Update Desktop and Mobile wireframes on Figma"
### Overview
There are inconsistencies between desktop, mobile, and expungeassist.org. In the previous release, the EA team had the final designs on the mobile wireframes on Figma, but did not update the desktop. As we gain new Designers on the team, we need to update the wireframes to reflect the current website.

### Action Items
- [x] Update Desktop wireframes
   - [x] Reference live website, p

[2022-08-10 05:07] anitadesigns opened #642 "Improve Illustrations on website"
### Overview
The Internal Usability Testing found that the illustrations used were not representative of diverse age groups and genders. Also, the Design team is finding that they need more illustrations to fill in some gaps that fit the branding of the website

### Action Items
- [x] Research where the prior Design team got the illustrations and where to find more
   - [x] inquire with @jamiesiu

[2022-08-10 05:24] anitadesigns opened #643 "Include a "demo" of LG on landing page"
### Dependency
Assess after IUT2 if this is still needed or existing information provided is sufficient for users.

### Overview
The Internal usability testing showed that participants had difficulty finding information on the expungement process and how the letter generator fit into the process. The Design and Content team is collaborating on creating a visual to illustrate this information on th

[2022-08-11 01:13] anitadesigns commented on #584
Sitemap now reflects current website design. We would have to create a new issue to update sitemap as we roll out changes to the website

[2022-08-11 01:14] #584 closed

[2022-08-11 08:23] SamHyler opened #644 "Update and sync all buttons [Design/Content system stage 2]"
### Overview
This is a next step in updating the content in the design system and syncing across product.

### Action Items

- [ ] Review all buttons and discover inconsistencies and areas for improvement
- [ ] Flag button copy to be changed/discussed/reviewed
- [ ] Update and sync all buttons
- [ ] Create a space to note all button copy by type in the design system as a reference/source of truth

[2022-08-11 08:28] SamHyler opened #645 "Update Before you begin copy"
### Overview
The before you begin copy has not been properly updated or written and needs to be. There are also two versions (one on the mobile and one on the desktop page) in figma, and needs to be fixed.

### Action Items
- [x] Review all three versions - desktop, mobile, and the content sandbox version (see below)
- [x] Create new copy
- [x] Add information about how they cannot save their prog

[2022-08-11 08:58] SamHyler commented on #591
The copy is finalized for internal usability testing 2 and is waiting to be fully finalized with collab from Design. Leaving in review collumn until everything is done. Then will close.

[2022-08-11 09:01] SamHyler commented on #628
Welcome page stays as a page for now. No changes to that button copy for now.

[2022-08-11 09:03] SamHyler opened #646 "Change copy on pop-up buttons"
### Overview
Replace button copy for pop-ups before internal usability testing 2.

### Action Items
- [ ] Change copy from NEXT or whatever it says now on ALL pop-up screens to "LET'S CONTINUE"
   - [ ] Button (see pictures for reference)
      - [ ] Color: #9903FF (Electric Violet)
      - [ ] 40 px height x 173 px width
      - [ ] Top and bottom padding: 8
      - [ ] Side padding: 16
      - [

[2022-08-11 09:04] SamHyler commented on #646
@thomasdemoner  Not sure how to assign folks right now, can you assign the right person and unassign yourself?  There will be more issues coming for Dev, trying to get them out so I don't forget. Hope the micro task is not a bother.

[2022-08-11 09:07] SamHyler commented on #628
Content is done on this issue, has been handed over to dev. Design will create a button on the Figma prototype (last thing to do before issue can be closed)

[2022-08-11 09:23] SamHyler commented on #550
# [August 16, 2022] Agenda and Notes
### Attendees
- [ ]

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)

### Recurring items:
- [ ] Which issues can we close?

### New Meeting Items
- [ ]

[2022-08-11 09:55] SamHyler commented on #644
whoops already created an issue for this

[2022-08-11 09:55] #644 closed

[2022-08-11 22:02] anitadesigns commented on #616
https://github.com/hackforla/expunge-assist/issues/613 is dependent on the first point

[2022-08-11 22:48] thomasdemoner commented on #635
Thanks for making the issue and assigning me! Looks great, you did it perfectly.

I'm gonna go ahead and move it to In Progress and assign @aahvocado to delegate it.

[2022-08-11 23:00] ValeriyaMetla commented on #379
# 2022.08.11 Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [x] [Bonnie](https://gi

[2022-08-11 23:16] thomasdemoner commented on #646
Sounds good!

This probably is a case where it'd be easier for Design to test and confirm the changes on Figma before Dev moves forward with it - because it seems like it'd change the dimensions of the button and that's something Design should approve - so I'm tagging @jamiesiu here for the "good to go" before I move it to In Progress and assign it!

Appreciate the issue! Micro task is definitely

[2022-08-12 06:20] anitadesigns commented on #646
@thomasdemoner The design team gives the green light! Just added Design details to the issue for Dev. Let us know if there are any questions

[2022-08-12 11:58] SamHyler commented on #646
Thanks @thomasdemoner ! I'll keep that in mind when sending over issues coming up.

[2022-08-12 15:15] yumengluo commented on #431
The instructions draft for how to recruit participants looks pretty good now. I think we will just need to get feedback from the team and Bonnie and finalize it.

[2022-08-12 15:16] yumengluo commented on #445
The step-by-step guide for the outreachs is mostly finished. I think we will just need to get feedback from the team and Bonnie and finalize it.

[2022-08-12 16:06] jbsteinhardt commented on #423
# 7/22/22 Agenda and Notes
### Attendees
- [ ] Joanna
- [ ] Nick
- [ ] Val
- [ ] Alba
- [ ] Nikita
- [ ] Tom
- [ ] Yumeng
- [ ] Sam

### Items
- [ ] Joanna will update on new research plan after conversation with Bonnie
   - [ ] timeline: 2nd round of internal testing => MVP => outreach
   - [ ] short survey for legal professionals (prospecting) -- will review
   - [ ] terminological survey is oka

[2022-08-15 22:09] ValeriyaMetla commented on #432
# [08/15/22] Agenda and Notes

### Prework

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
- [ ] Product COP Meetings
   - [ ] Update from Jamie
- [ ] Google Drive Migration Support
    -

[2022-08-16 00:00] jamiesiu commented on #422
# [2022.08.15] Dev / Design Sync Notes
### Attendees
-
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research / Product Alignment
      - Important Updates from Partner Teams
      - Open requests with Dev or Content
      - Any requests we're depended on (by D

[2022-08-17 18:38] anitadesigns commented on #642
Design Systems team shared there is no repository they advise us to use. We have the flexibility to create/ use any open source illustrations and icons

[2022-08-17 22:49] anitadesigns commented on #618
### Overview
This issue tracks the running agenda for the Content and Design team weekly meetings (Fridays 9:30AM PST)

Reply in the comment using this format to create weekly agenda.

###Format

# [Date] Agenda and Notes
### Attendees
- [ ]
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned

[2022-08-17 23:48] jamiesiu commented on #422
# [2022.08.17] Design Meeting Notes
### Attendees
-
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research / Product Alignment
      - Important Updates from Partner Teams
      - Open requests with Dev or Content
      - Any requests we're depended on (by Dev/

[2022-08-17 23:55] jamiesiu commented on #545
Post made earlier in week for UX Design Lead role https://github.com/hackforla/UI-UX/projects/3#card-84904443

[2022-08-18 00:38] jamiesiu commented on #638
decide by EOW on button layout

[2022-08-18 01:01] jamiesiu commented on #613
Given the User Journey (and where EA fits in the flow) is dependent on UXR, we will lower this issue in priority as we have alternative means to display and make key information available to users.

[2022-08-18 01:03] jamiesiu commented on #636
Part of this is waiting on UXR to confirm which questions are important to include. In meantime, Anita is going to grab LP mobile widths from Dev and work on the mobile version design with placeholder text

[2022-08-18 01:05] jamiesiu commented on #608
marking this as a duplicate as #638 has better details and specifications. Closing out

[2022-08-18 01:10] #608 closed

[2022-08-18 01:22] jamiesiu commented on #543
#### Onboard David Lee
- [ ] Design / PM Walkthrough
   - [ ] Team share / demo of work in progress e.g. Design System, Figma, current iterations
- [ ] [Google Drive](https://drive.google.com/drive/folders/1qR-5gm7a-3h-Zm6Tu8IxDQ6yL488kf1n)
   - [ ] Add to drive as Contributor
- [ ] Roster
  - [ ] Send link
  - [ ] Team member adds themselves
  - [ ] Check for Public organization visibility and no

[2022-08-18 05:28] jamiesiu commented on #630
Not able to add Snigdha to issue or read/write members list for EA atm. Seems to be permissions/public visibility restriction most likely as they are part of HFLA repo / wider org. Will follow up with them

[2022-08-18 05:57] jamiesiu commented on #379
# [2022.08.18] Agenda and Notes

### Prework
- [ ] issue for audit Weekly Audit of labels and milestones #318

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://

[2022-08-18 08:16] thomasdemoner commented on #646
@anitadesigns thanks for the update, your additions to this issue were fantastic! hey @aahvocado, we've got a new issue to tackle!

[2022-08-18 16:04] SamHyler commented on #597
Points of review: The word "recovery" and the unemployment sequence i.e. "None of the above."  Right now "none of the above" goes to unemployment and unchecks the rest. I think we should create unemployment as its own category and put it under "Job," and then add a new sequence for "None of the above" that goes to some generic questions like "what have you been involved in since your conviction?"

[2022-08-18 21:25] anitadesigns commented on #638
Created desktop version. Working on button placement before designing mobile

[2022-08-19 16:32] jbsteinhardt commented on #423
# 8/12/22 Agenda and Notes
### Attendees
- [ ] Joanna
- [ ] Val
- [ ] Tom
- [ ] Yumeng
- [ ] Sam

### Items
- [ ] Updates:
  - [ ] Nikita added a bunch of stuff to the database
  - [ ] User Journey: Nikita and Yumeng going over this
  - [ ] Outreach protocol: Joanna still needs to edit and finalize; then we'll send to Bonnie to review
  - [ ] Update on surveys for legal professionals: issues on co

[2022-08-19 17:41] SamHyler opened #647 "Update Privacy Policy page"
### Overview
In making changes for IUT 2, I noticed that the privacy policy currently says that this is "software," which is obviously incorrect. Since we are working on upping the legitimacy of the website before IUT 2, this should also be updated. At least cosmetically, since we do not have a legal representative who can check the full legality of the text.

### Action Items
- [x] Audit the Priv

[2022-08-19 17:48] SamHyler opened #648 "Update copy on Privacy Policy"
### Overview
Update the privacy policy by exchanging the word SOFTWARE for WEBSITE.

Content has updated the copy in Figma on both Website and Mobile versions. https://github.com/hackforla/expunge-assist/issues/647

### Action Items
- [ ] Replace the word SOFTWARE with WEBSITE on the Privacy policy page (there are three instances)

Full text should read:

THE WEBSITE IS PROVIDED “AS IS”, WITHOUT W

[2022-08-19 17:49] #647 closed

[2022-08-19 17:49] SamHyler commented on #647
This was a super quick change so I just did it now while I had a few minutes.

[2022-08-19 22:08] jamiesiu commented on #505
The instructions that Dan provided are for updating the EA website text. Since this is on the GH wiki, it can be updated similar to updating a GH issue/ticket text using the markdown formatting. Made the change here https://github.com/hackforla/expunge-assist/wiki/Content-Writer . Let us know if anything needs further updating @SamHyler . Otherwise, we can close this out

[2022-08-19 22:37] SamHyler commented on #505
Thank you so much @jamiesiu ! I will close it. I wonder what the best practice for updating it would be? How can we set a reminder to check in and update it every month-3months (is this a good time frame)?

[2022-08-19 22:37] #505 closed

[2022-08-19 23:34] jamiesiu commented on #612
Expanded on some of the various dimensions/components that were listed as rows in the analysis doc. Maybe too granular but wanted to dig into them and understand the parts a bit more as I'm seeing these come up with Design/Content. It's helpful so far to think through them even with just the first example for comparison with [ULearn Personal Statement Creator](https://ulearn.education/personal-sta

[2022-08-19 23:48] jamiesiu opened #649 "Google Drive Migration EA"
### Overview
Work with past EA volunteers to migrate old google drive files from the old legacy drive to the newer current drive.

(Duplicate Tracker for EA Project Board to ensure we continue progress on it. Original ticket exists within a separate Google Drive migration repo)

### Resources/Instructions
https://github.com/hackforla/google-drive-migration/issues/8
https://docs.google.com/spreadsh

[2022-08-20 00:24] jamiesiu commented on #505
No problem! That's a good question. For this type of documentation, I would suggest quarterly is a good balance of time vs the energy it would take to collect info and update it again. We could do recurring google calendar reminders for that frequency and a GitHub issue with a dependency of a date 3 months for now.

[2022-08-20 04:50] jamiesiu opened #650 "Update the UI/UX Designer Wiki Page for EA so that new volunteers can learn how we work and how they can start contributing."
### Dependency
- [ ] #1183

### Overview
The Wiki page for joining as a UI/UX Designer needs to be updated so that new volunteers can learn how we work and how they can start contributing.

### Action Items
- [x] Review current Wiki pages and identify gaps
- [x] How to use Expunge Assist Figma
- [x] Add a current link to the personas & user stories board
- [x] Update Project Management link to a l

[2022-08-20 23:14] ValeriyaMetla commented on #616
@yumengluo please attach the right document where the roadmap lives. I would like to review but there is no link

[2022-08-21 02:49] #639 closed

[2022-08-21 19:30] ValeriyaMetla commented on #648
I think it's a good quick fix. But eventually, we need to have a standard privacy policy before we begin testing with users. It's issue #231 @thomasdemoner check if any feedback from the development side. I am moving this to in-progress tasks

[2022-08-21 20:15] yumengluo commented on #616
@ValeriyaMetla https://www.figma.com/file/bL8FpRGLiABZ2CRTMh44uz/Untitled?node-id=2%3A13 Here is the link to the road map of the expungement process. @SamHyler mentioned that she will move this map to the team's Figma profile.

[2022-08-22 03:39] anitadesigns commented on #638
Continuing to have buttons as is and have it go under UT. Added a design component (blue box) to separate text from the download agreement. Awaiting feedback/approval from Content and Design

[2022-08-22 22:05] jamiesiu commented on #432
# [08.22.22] Agenda and Notes

### Prework

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Brandon](https://github.com/hackforla/expunge-assist/issues/assigned/brandohayes)

[2022-08-22 22:54] thomasdemoner commented on #62
<img width="896" alt="Screen Shot 2022-06-08 at 3 34 32 PM" src="https://user-images.githubusercontent.com/46510558/186032694-05194297-c357-400b-aee1-5dcc0b3adf47.png">

[2022-08-23 00:05] jamiesiu commented on #422
# [2022.08.22] Dev / Design Sync Notes
### Attendees
-
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research / Product Alignment
      - Important Updates from Partner Teams
      - Open requests with Dev or Content
      - Any requests we're depended on (by D

[2022-08-23 15:37] anitadesigns opened #651 "Updating pages with Pop-ups on Letter Generator"
### Overview
Per https://github.com/hackforla/expunge-assist/issues/628, the buttons found on the letter generator pages need to be updated to say "LET'S CONTINUE". The design team is also working on updating the Desktop and Mobile wireframes on Figma to reflect changes that have been made since the last MVP. Along with the button updates, wireframes on Mobile and Desktop also need to be updated

[2022-08-23 16:29] #585 closed

[2022-08-23 17:30] jbsteinhardt opened #652 "Prospecting Survey for Legal Professionals"
### Overview
This survey originated as a Content need from IUT 1 and [this issue](https://github.com/hackforla/expunge-assist/issues/603), and is meant to serve a few goals: 1) get contact info from legal professionals whose clients write letters in their applications for record clearance for potential partnership 2) clarify terminology around how legal professionals refer to the letter. It should

[2022-08-24 23:54] anitadesigns commented on #624
This is dependent on this issue https://github.com/hackforla/expunge-assist/issues/642

[2022-08-25 01:34] jamiesiu commented on #422
# [2022.08.24] Design Meeting Notes
### Attendees
- @anitadesigns @RenaNicole @deaglelee14 @jamiesiu
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research / Product Alignment
      - Important Updates from Partner Teams
      - Open requests with Dev or Conten

[2022-08-25 10:02] SamHyler commented on #550
# [August 25, 2022] Agenda and Notes
### Attendees
- [ ]

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)

### Recurring items:
- [ ] Which issues can we close?

### New Meeting Items
- [ ]

[2022-08-25 11:47] SamHyler commented on #616
Thank you Yumeng! I've added it to a page in Figma (see resources section above) for now, will update this github issue if it gets moved elsewhere

[2022-08-25 15:17] anitadesigns commented on #618
# [August 26, 2022] Agenda and Notes
### Attendees
- [ ]

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)
    - [ ] Serena
    - [ ] Anita
    - [ ] David

### Recurring items:
- [ ] Updates

[2022-08-25 18:07] yumengluo commented on #652
Reviewed the draft. It looks pretty good!

[2022-08-26 16:45] jbsteinhardt commented on #423
## This issue tracks the running agenda for the Research Weekly Meetings

[code]

[11/18/21](https://github.com/hackforla/expunge-assist/issues/

[2022-08-26 20:10] #635 closed

[2022-08-26 20:28] #604 closed

[2022-08-26 21:17] aahvocado commented on #646
Asked in Slack if the button padding changes are affecting all buttons.

[2022-08-26 21:20] aahvocado commented on #648
Hm, I've made the change. Were you supposed to do more work on this @thomasdemoner or can I close it out?

[2022-08-27 11:13] SamHyler opened #656 "Add content to new FAQ question (appears on landing page)"
### Overview
With the design changes to the landing page and through iterations to the [FAQs that appear on that front page (see linked issues)](https://github.com/hackforla/expunge-assist/issues/623) via discussions about security, privacy, and legitimacy, one new question was added. This question was sketched out but not finalized and no specific content was created for it. This issue is to crea

[2022-08-27 13:10] SamHyler opened #657 "Add a question to the FAQ"
### Overview
After Design/Content sync, we decided to not add an extra page to the website that includes a user journey now, and push that task to the tasks after this upcoming IUT2. In the meantime, we can add a question on FAQ that addresses"Why does the deceleration letter matter to me/ expungement process/ in getting my record cleared?" - something along these lines, to help the user in words

[2022-08-27 13:11] SamHyler commented on #592
Have made a list of areas to improve, Design is getting feedback from Dev before proceeding with the parenting and unemployment flows

[2022-08-27 13:12] SamHyler commented on #597
Have made a list of areas to improve, Design is getting feedback from Dev before proceeding with the parenting and unemployment flows

[2022-08-27 13:13] SamHyler commented on #561
Have sent a friendly reminder but no answer from Ditto for a few weeks. Will consider this closed and move forward without being able to use the Ditto tool

[2022-08-27 13:13] #561 closed

[2022-08-27 13:15] SamHyler commented on #628
@anitadesigns  can you close this issue when it's finished?

[2022-08-27 13:28] SamHyler commented on #579
This [issue](https://github.com/hackforla/expunge-assist/issues/621) addresses what's listed here to some degree. Have we acomplished what's needed for this issue for now? It's the "committed to data safety" section on the landing page.  @ValeriyaMetla @jamiesiu

[2022-08-27 13:30] SamHyler commented on #62
This is interesting. I wonder if we need to add anything about cookies. @anitadesigns @RenaNicole @cynphonic @jamiesiu

[2022-08-27 13:33] SamHyler commented on #590
should also revise the double message text: keep going and take a break

[2022-08-27 13:37] SamHyler commented on #550
# [September 1, 2022] Agenda and Notes
### Attendees
- [ ]

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)

### Recurring items:
- [ ] Which issues can we close?

### New Meeting Items
- [

[2022-08-28 02:43] anitadesigns commented on #62
This is interesting. Does our website and/or tool use cookies? @aahvocado @sydneywalcoff

[2022-08-28 02:45] anitadesigns commented on #628
Yes! marking the issue as closed. @deaglelee14 completed the issue

[2022-08-28 02:45] #628 closed

[2022-08-28 02:45] #651 closed

[2022-08-28 02:56] anitadesigns commented on #637
dependent on onboarding layout

[2022-08-28 10:03] SamHyler commented on #648
thanks Val, and good point. Thanks for the issue reminder.

@aahvocado if these small changes are done, you can close. We have https://github.com/hackforla/expunge-assist/issues/231 open for any bigger changes that need to be made down the line.

[2022-08-28 10:06] SamHyler opened #658 "List privacy policy in FAQs"
### Overview
Notes from this issue https://github.com/hackforla/expunge-assist/issues/231 - Dev would like the Privacy Policy listed in the notes.
### Action Items
- [ ] Find an appropriate place to list privacy policy in FAQs
- [ ] Add it
- [ ] Discuss in content / design
- [ ] hand over to dev

### Resources/Instructions
See notes from this issue https://github.com/hackforla/expunge-assist/issue

[2022-08-28 18:19] ValeriyaMetla commented on #464
#### Offboard @albagaral
- [x] Google Drive
   - [x] demote to viewer
- [x] Roster
  - [x] mark as inactive
- [x] Figma
  - [x] remove from team
- [x] GitHub
     - [x] demote member to read only team and remove from write team
- [ ] Remove from email address(s)
   - [ ] expungeassist@hackforla.org

[2022-08-28 18:33] ValeriyaMetla commented on #464
#### Onboard Vyshiali 08/28/22
- [x] Google Drive
   - [x] Add to drive as Editor
- [x] Roster
  - [x] Send link
  - [x] Team member adds themselves
  - [x] Check for Public and note in roster
  - [x] Check for 2FA and note in roster
- [x] GitHub
     - [x] Add to team Expunge Assist
- [x] Figma
  - [x] invite
  - [ ] acceptance
- [ ] Add to email address
   - [ ] expungeassist@hackforla.org

[cod

[2022-08-28 19:14] ValeriyaMetla commented on #652
@jbsteinhardt please attach Google Form here when completed. I will assign it to you and @yumengluo

[2022-08-28 19:34] ValeriyaMetla commented on #603
@jbsteinhardt @SamHyler I edited the title and tasks for this issue based on our conversation on Friday. I am moving it to In-progress. First thing, let's try to re-write this one question we stuck on, maybe try to put it as scale question.

[2022-08-28 19:53] ValeriyaMetla commented on #441
Old issue that was never developed.

[2022-08-28 19:53] #441 closed

[2022-08-28 19:54] ValeriyaMetla commented on #440
Olld issue that was never developed

[2022-08-28 19:54] #440 closed

[2022-08-28 20:47] ValeriyaMetla commented on #401
@thomasdemoner per our conversation to check with development about it. 1) does development has the capacity to support creating public repository? 2) alternatively, can they provide support to product on how best create it. @jbsteinhardt  @Ndoyle118 per your information. You can also assign someone to this issue to review how other project have done it and what elements they have that we need for

[2022-08-29 05:48] anitadesigns opened #659 "Update last page of Letter Generator"
### Overview
Dev and Design decided to merge the last two pages of the letter generator onto one page and add information on how users can further edit their final declaration letter that is generated.

### Action Items
- [ ] remove https://expungeassist.org/#/./form/download page
- [ ] Update spacing between the progress bar and "Previewing final statement"
   - [ ] desktop: 96 px
   - [ ] mobile

[2022-08-29 16:14] #648 closed

[2022-08-29 16:15] #646 closed

[2022-08-29 16:21] aahvocado opened #662 "header and footer layout get broken in mobile view"
Header:
![Screen Shot 2022-08-29 at 9 21 19 AM](https://user-images.githubusercontent.com/2266545/187248129-808f8419-7cd6-4ef9-b64f-ff7fc39c66d5.png)

Footer:
![Screen Shot 2022-08-29 at 9 21 26 AM](https://user-images.githubusercontent.com/2266545/187248127-169aafa1-7bc4-456e-9a61-17dd12f242fb.png)

---
Most likely this needs Design treatment first.

[2022-08-29 17:15] Ndoyle118 opened #663 "Second Internal Usability Testing (IUT 2) Research Plan and Guide"
### Overview
The Expunge Assist UX Research team will conduct a second round of usability testing (referred to as IUT 2) with internal volunteers from other Hack for LA teams to identify remaining major usability issues and evaluate product/feature improvements based on feedback from the first round of internal usability testing (#507).

### Action Items

- [ ] Brainstorm with research team what w

[2022-08-29 22:22] ValeriyaMetla commented on #432
# [8/29/22] Agenda and Notes

### Prework

### Roll Call

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/expunge-assist/projects/1#column-15701398)
 - [ ] Accountability and Support Check.
    - [ ] Review assignments for each PM
       - [ ] [Tom](https://github.com/hackforla/expunge-assist/issues/assigned/thomasdemoner)

[2022-08-30 05:00] RenaNicole opened #664 "Mobile Navigation Menu"
The design for the navigation bar and drop-down menu for mobile-sized screens. Screen shots are attached.

Find these designs and properties under Design Hand Off in Figma:
https://www.figma.com/file/hYqRxmBVtJbDv9DJXV6nra/Expunge-Assist-Main-Figma?node-id=2%3A38

Menu:
- [ ] Fixed to top of screen
- [ ] White background
- [ ] Hight: 72px
- [ ] Drop shadow
- [ ] Expunge Assist logo
- [ ] Hamburger

[2022-08-31 17:00] anitadesigns commented on #622
Issue has been handed off to Dev: Issue #659

[2022-08-31 17:00] #622 closed

[2022-08-31 17:01] anitadesigns commented on #638
Handed off to Dev. #659

[2022-08-31 17:01] #638 closed

[2022-08-31 17:04] anitadesigns commented on #618
# [September 2, 2022] Agenda and Notes
### Attendees
- [ ]
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] [Irene](https://github.com/hackforla/expunge-assist/issues/assigned/cynphonic)
    - [ ] Serena
    - [ ] Anita
    - [ ] David
### Recurring items:
- [ ] Updates

[2022-08-31 23:55] anitadesigns commented on #422
# [2022.08.24] Design Meeting Notes
### Attendees
- @anitadesigns @RenaNicole @deaglelee14 @jamiesiu
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research / Product Alignment
      - Important Updates from Partner Teams
      - Open requests with Dev or Conten

[2022-09-01 18:00] anitadesigns commented on #605
Created a design for this within LP. Will be completed once the LP design is finalized and sent to DEV. Linked to https://github.com/hackforla/expunge-assist/issues/624

[2022-09-01 18:01] anitadesigns commented on #606
Design team finalized the size for short form field and updating designs. Will send to Dev once completed

[2022-09-01 18:25] anitadesigns opened #665 "Improve parenting flow"
### Overview
The current flow regarding parenting questions on the letter generator is not inclusive for users who have more than one child. In collaboration with the Content Team, the Design team will work on a new flow for the parenting questions

### Action Items
- [x] Brainstorm ideas
- [x] Create lo-fi wireframes
- [x] Present to Dev for feedback
- [x] Present to Content
- [x] Create high-fid

[2022-09-01 18:27] anitadesigns commented on #573
Creating a footer for mobile and handing off to Dev

[2022-09-01 18:45] anitadesigns opened #666 "Improve Onboarding flow for LG"
### Overview
The onboarding flow is packed with information. In collaboration with the Content Team, Design aims to improve the onboarding flow.

### Action Items
- [ ] brainstorm layout ideas
- [ ] Pages to consider:
   - [ ] Before you begin
   - [ ] Overview of questions
   - [ ] Advice
- Present to Content for feedback
- Present to Dev for feedback
- create issue for Dev

[2022-09-02 17:28] Ndoyle118 commented on #423
# 9/2/22 Agenda and Notes
### Attendees
- [ ] Joanna
- [ ] Nick
- [ ] Val
- [ ] Nikita
- [ ] Yumeng
- [ ] [New Members]

### Agenda Items and Support Check
- [ ] Introductions/welcoming new research team members
- [ ] Review assignments for each team member
     - [ ] Tom (can't attend meeting)
           - [ ]  1) Scoping out what to include in public wiki
           - [ ]  2) Compiling list of p

[2022-09-02 18:24] Thomas-Pietruszewski opened #667 "Organize Information for Public Wiki"
### Overview
We need to identify what information we want to include in the public facing wiki and where that info can be found on google drive.

### Action Items
Identify what to include in the public facing wiki.

Organize google drive links where that information can be found.

[2022-09-02 18:25] Thomas-Pietruszewski commented on #667
Below is a link to a document where we can find what information to include in the wiki.

https://docs.google.com/document/d/1boh-I-SNxV-B5sVDIOxqPHYcwjf4bteMuvvO4vlK-U0/edit

[2022-09-04 22:51] anitadesigns commented on #573
Presenting to Design for approval

[2022-09-05 01:17] anitadesigns commented on #619
Linked to https://github.com/hackforla/expunge-assist/issues/588

[2022-09-05 22:12] ValeriyaMetla commented on #464
Onboard @kelseylondon 09/05/22
 Google Drive
 Add to drive as Editor
 Roster
 Send link
 Team member adds themselves
 Check for Public and note in roster
 Check for 2FA and note in roster
 GitHub
 Add to team Expunge Assist
 Figma
 invite
 acceptance
 Add to email address
 [expungeassist@hackforla.org](mailto:expungeassist@hackforla.org)

[2022-09-05 22:24] ValeriyaMetla commented on #464
#### Onboard @kelseylondon 09/05/22
- [x] Google Drive
   - [x] Add to drive as Editor
- [x] Roster
  - [x] Send link
  - [ ] Team member adds themselves
  - [x] Check for Public and note in roster
  - [x] Check for 2FA and note in roster
- [x] GitHub
     - [x] Add to team Expunge Assist
- [x] Figma
  - [x] invite
  - [ ] acceptance
- [ ] Add to email address
   - [ ] expungeassist@hackforla.org

[2022-09-06 11:59] #633 closed

[2022-09-06 12:37] SamHyler commented on #656
Copy is finished. Design is working on iterations and will update copy in all relevant places. Possibly will hand over copy and design together to Dev.

[2022-09-06 12:43] SamHyler commented on #632
Copy is finalized, there are ongoing iterations and discussions between Design and Content about certain pieces and how to present them between the landing page and about us page. Will be sorted before IUT2, in essence this issue is done. Will be minor rewrites.

[2022-09-07 10:13] SamHyler commented on #603
Github issue is missing for those team members looking into appropriate forums to disseminate survey, will link in [doc](https://docs.google.com/document/d/1JC6JdBPgpxp-bGquuWEKq6gRQ32DB9eFKDPNcyd9Lkc/edit#heading=h.3oyovmviqmkw) when available.

[2022-09-08 07:25] SamHyler opened #668 "Change copy on "Why" page"
### Overview
In response to this [issue](https://github.com/hackforla/expunge-assist/issues/595), change copy on the Why page. See Figma Dev handoff space for visual.

### Action Items
- [ ] Change copy on the first question (https://expungeassist.org/#/./form/why) from "Why do you want to clear your record?
Start with, for example, "I want to clear my record because…"" to "Why do you want to clea

[2022-09-08 20:18] Ndoyle118 opened #669 "Identify Places to Disseminate User Terminology Survey"
### Overview
We need to develop a list of online places to distribute the [User Terminology survey (Issue: #603)](https://github.com/hackforla/expunge-assist/issues/603). We are looking for any online forums which would be relevant for/used by individuals who are applying for expungement/have applied for expungement in the past/or are otherwise personally involved in the expungement process. This

[2022-09-08 21:16] Ndoyle118 commented on #603
I started an issue here for places to disseminate the survey: https://github.com/hackforla/expunge-assist/issues/669 feel free to edit, etc

[2022-09-08 22:40] ValeriyaMetla commented on #464
#### Onboard @kyle-whitaker 09/08/22
- [x] Google Drive
   - [x] Add to drive as Editor
- [x] Roster
  - [x] Send link
  - [x] Team member adds themselves
  - [x] Check for Public and note in roster
  - [x] Check for 2FA and note in roster
- [x] GitHub
     - [x] Add to team Expunge Assist
- [x] Figma
  - [x] invite
  - [ ] acceptance
- [ ] Add to email address
   - [ ] expungeassist@hackforla.org

[2022-09-09 18:40] jamiesiu opened #670 "EA Team Planning Agenda"
### Overview
This issue tracks agenda for Monthly Meeting for All Teams. The meeting is the first (full) week of every month on Friday at 10:30 AM PT. Product Roadmap in Miro Board is attached in #615

# [YR-MO-DAY] Agenda and Notes

### Roll Call
- [ ] Product Team
- [ ] UXR team
- [ ] Content team
- [ ] Desigm team
- [ ] Development team

### Review of Past Month (by team)

### Our Overall Direc

[2022-09-12 08:23] SamHyler commented on #603
thanks! I added it to the issue description so they are linked

[2022-09-12 09:08] SamHyler opened #671 "Change copy on one pop-up/affirmation card"
### Overview
Change the contradictory words on the pop-up "Keep going." This is not from IUT 1 but from internally in content noticing the contradiction.
### Action Items
- [x] Change contradiction in "keep going" and "take a break now if you need one"
- [x] Discuss in Content
- [x] Update all areas (Mobile, Desktop, Design system? and anywhere else)
- [x] Hand over to Dev

### Resources/Instructi

[2022-09-13 00:04] jamiesiu commented on #422
# [2022.09.12] Design / Dev Sync Meeting Notes
### Attendees
-
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Balance / Team Health Sustainability Check
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research / Product Alignment
      - Important Updates from Partner Teams
      - Open requests with Dev or Content
      - Any requests we're depended

[2022-09-13 04:39] anitadesigns opened #672 "Implement new mobile footer"
### Overview
Since we updated the footer for Desktop interfaces, we need to implement a footer design for mobile interfaces.

### Action Items
[ ] logo and contact remains the same
[ ] Move privacy policy below contact info
[ ] move terms of service below the privacy policy
[ ] move hack for la logo and copyright info below terms of service
[ ] hyperlink Expunge Assist logo to a landing page
[ ] h

[2022-09-13 05:14] anitadesigns commented on #662
Design created for footer and ticket was made: https://github.com/hackforla/expunge-assist/issues/672

[2022-09-13 11:31] SamHyler commented on #550
# [September 15, 2022] Agenda and Notes
### Attendees
- [ ]

### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam](https://github.com/hackforla/expunge-assist/issues/assigned/SamHyler)
    - [ ] Kyle

### Recurring items:
- [ ] Which issues can we close?

### New Meeting Items
- [ ] Intro to Content for new team member
- [ ] Questions, needs (tools: git

[2022-09-13 15:06] SamHyler commented on #595
changes made to WHY page

[2022-09-13 15:06] #595 closed

[2022-09-13 15:54] SamHyler opened #673 "Update copy on Terms of Use"
### Overview
The formatting in the Terms of Use is wonky and needs a basic overview. The issue should be revisited later to fix deeper issues.

### Action Items
- [x] Check for areas to improve
- [x] Make improvements
- [x] Hand over to Dev

### Resources/Instructions
Iterations and final on [WIP page](https://www.figma.com/file/hYqRxmBVtJbDv9DJXV6nra/Expunge-Assist-Main-Figma?node-id=4818%3A43683

[2022-09-13 15:57] #673 closed

[2022-09-13 16:00] SamHyler opened #674 "Update Terms of Use copy"
### Overview
From this issue https://github.com/hackforla/expunge-assist/issues/673

### Action Items

- [ ] update content container width: 633 px (desktop) and 311 px (mobile)
- [ ] Update Terms of Use copy on the page (copy paste everything, there were a lot of changes)
- [ ] Update "Terms of Use" in the footer, right now it appears as "Terms Of Use" which is incorrect, it should appear as "Ter

[2022-09-13 16:36] SamHyler opened #675 "Change copy on pop-ups/affirmation cards"
### Overview
From this [issue](https://github.com/hackforla/expunge-assist/issues/671).

Make minor changes to two affirmation cards/screens.

### Action Items
- [ ] Change headers on two affirmation screens
- [ ] Delete the last sentence (take a break...) on the second screen

### Resources/Instructions
[See changes listed in the Design handover space](https://www.figma.com/file/hYqRxmBVtJbDv9DJX

[2022-09-13 16:44] SamHyler commented on #671
may need to update in other areas than mobile and desktop, otherwise finished with a quick for now solve

[2022-09-13 16:44] #671 closed

[2022-09-13 18:33] SamHyler commented on #603
All survey comments have been revised and finalized. Survey is ready to go if all parties agree.

[2022-09-15 00:05] jamiesiu commented on #422
# [2022.09.14] Design Meeting Notes
### Attendees
-
### Recurring items:
- [ ] Review action items from prior meetings
- [ ] Blockers Support / Help Needed
- [ ] Design <> Content / Dev / Research / Product Alignment
      - Important Updates from Partner Teams
      - Open requests with Dev or Content
      - Any requests we're depended on (by Dev/Content/etc)
### New Meeting Items
- [ ]
### FYI

[2022-09-15 06:11] jamiesiu commented on #658
Some notes to add: this ticket is more about refining the privacy policy content/copy after Product updates the Privacy Policy as part of #231. The location and availability of Privacy Policy information is already being addressed by the current footer updates by Design team as well as the LP update/reorganization of sections which would highlight the Privacy Policy. This is not urgent for IUT2 as

[2022-09-15 17:22] anitadesigns commented on #618
# [September 16, 2022] Agenda and Notes
### Attendees
- [ ]
### Accountability and Support Check
- [ ] Review assignments for each team member
    - [ ] [Sam]
    - [ ] Serena
    - [ ] Anita
    - [ ] David
### Recurring items:
- [ ] Updates
   - [ ] Content
   - [ ] Design
### New Meeting Items
- [ ] Finishing up Parenting Flow - update
- [ ] Finishing up About Us page - any new/remaining conten

[2022-09-16 04:50] jbsteinhardt commented on #423
# 9/2/22 Agenda and Notes
### Attendees
- [ ] Joanna
- [ ] Nick
- [ ] Val
- [ ] Tom
- [ ] Nikita
- [ ] Yumeng
- [ ] Kimali
- [ ] Kelsey
- [ ] Kyle
- [ ] Christine

### Agenda Items and Support Check
- [ ] Sam and Anita will present updates on Figma
- [ ] Review assignments for each team member
     - [ ] Yumeng - make Google Form draft of prospecting survey
     - [ ] Kelsey - finding and adding c

[2022-09-16 05:38] #544 closed

[2022-09-16 05:48] #559 closed

[2022-09-16 21:32] jamiesiu commented on #574
+1 to Val's note here. This looks like a duplicate that can be "closed as not planned"

[2022-09-16 21:38] jamiesiu commented on #203
Think this could use revision and further clarity around its purpose, and seems more something for Product to research before Content would refine. So will update the milestones / labels for now.

[2022-09-16 21:43] jamiesiu commented on #579
This looks to be captured by #658 and #231 in essence, so can be closed as a duplicate. #658 can be revised to help refine the Privacy Policy update from Product

[2022-09-16 21:59] SamHyler commented on #579
Interesting, there are a lot of overlap but there are a bit different threads going on. I'd say we covered this in our collab with design on the landing page. HOWEVER, I'm not sure we got that part about being able to save progress. Something for the before you begin page have added a note.

[2022-09-16 22:01] SamHyler commented on #574
I keep missing it because it didn't have a content label. I've also been forgetting everything in the icebox, so many threads to keep top of mind.  https://github.com/hackforla/expunge-assist/issues/231 is the similar issue.

[2022-09-16 22:06] SamHyler commented on #579
Closing this issue with the note that we will add how to save progress/that they cannot on the before you begin page. The other part has been put on the landing page, screenshot example of a current in progress iteration (Content side for this piece is finished)
<img width="744" alt="Screenshot 2022-09-17 at 00 05 27" src="https://user-images.githubusercontent.com/87077650/190810678-2ae52a64-df56-

[2022-09-16 22:06] #579 closed

[2022-09-16 22:21] SamHyler opened #676 "New FAQ Question"
### Overview
A new FAQ question has been written from this [issue](https://github.com/hackforla/expunge-assist/issues/656). Will appear on the FAQs and on the landing page.

Information about where it is on the landing page and in the order of FAQs communicated in Figma.

### Action Items
- [ ] Add new FAQ text to landing page
- [x] Add new FAQ text to FAQ section (See Design handover space for lo

[2022-09-16 22:22] #656 closed

[2022-09-16 22:24] SamHyler commented on #588
We discussed this in Content / Design some time ago and Design decided this needed to be tabled for the next iteration due to work load.

[2022-09-16 22:26] SamHyler commented on #594
@jamiesiu  some of this has been done for W2 (checked boxes), and some will be done for W3. Maybe this should be separated so the finished parts can be closed?

[2022-09-17 11:04] SamHyler opened #677 "Update Advice page"
### Overview
Update advice page from https://github.com/hackforla/expunge-assist/issues/591, both for visual design and content.

Iterations on the Design side are not finished, will update issue when ready to be worked on.

### Action Items
- [x] Update content on Advice page
- [x] Add "x" icon"
- [x] Add "check" icon
- [x] Add boxes around the "do" and "don't" examples under each advice

### Res

[2022-09-17 11:10] SamHyler commented on #591
Content done a long time ago, Design has their own issue open now for other parts of iteration. Closing for now, draft created for hand over to dev.

[2022-09-17 11:10] #591 closed

[2022-09-17 11:30] SamHyler opened #678 "Landing page iterations"
### Overview
Design and Content have been working on iterations since the beginning of this milestone. Content was done but more iterations in design required new content tasks. New issue covers the new parts of the landing page being iterated through the collaboration.

### Action Items
- [x] Iterate small sections on landing page
- [x] Discuss in design sync
- [x] Finalize all of landing page
-

[2022-09-18 16:55] ValeriyaMetla commented on #580
Uploaded three documents on Wiki (see previous comment).

[2022-09-18 16:55] #580 closed

[2022-09-18 16:59] ValeriyaMetla commented on #464
#### Onboard @mchai1218 09/18/22
- [x] Google Drive
   - [x] Add to drive as Editor
- [x] Roster
  - [x] Send link
  - [x] Team member adds themselves
  - [x] Check for Public and note in roster
  - [x] Check for 2FA and note in roster
- [x] GitHub
     - [x] Add to team Expunge Assist
- [x] Figma
  - [x] invite
  - [x] acceptance
- [ ] Add to email address
   - [ ] expungeassist@hackforla.org

[2022-09-18 19:53] ValeriyaMetla commented on #600
@Ndoyle118 @jbsteinhardt I am gonna move it to backlog until we figure out what's the next steps with internal wiki

[2022-09-18 19:59] ValeriyaMetla commented on #401
Update from @thomasdemoner "Top of mind I was thinking Notion, the note taking app - they have like embed functionality for websites now and a lot of startups are using it for wiki/guide/faq pages. I have to double check what the integration process/limits are, but I feel like that would be an ideal no-code solution for us." @jbsteinhardt @Ndoyle118 I am going to move to to backlog, you can assign

[2022-09-18 22:21] ValeriyaMetla commented on #464
#### Offboard @albagaral 9/18/22
- [ ] Google Drive
   - [ ] demote to viewer
- [ ] Roster
  - [ ] mark as inactive
- [ ] Figma
  - [ ] remove from team
- [ ] GitHub
     - [ ] demote member to read only team and remove from write team
- [ ] Remove from email address(s)
   - [ ] expungeassist@hackforla.org